[2017-01-16 14:40] mikfire commented on #337
Can you tell me which version of Qt5 and cmake are you using? And what version of brewtarget are you trying to build?

[2017-01-16 17:04] mikfire commented on #337
I spun a Mint 18.1 Mate vm and followed the directions. There are a few discrepancies: it should be libqt5svg5-dev, we don't depend on the webkit any more and we should likely mention wanting libqt5sql-psql. I will fix these.

However, I don't think those are causing your problem. My guess is that you are referencing the wrong directory on the cmake command. Instead of saying "cmake ~/brewtarget/s

[2017-01-16 23:06] begin-again commented on #337
I installed libqt5svg5-dev, but didn't find libqt5sql-psql. I'm using cmake 3.5.1 trying to build brewtarget 2.4 stable. I'm on Mint 18.1 Cinnamon.  Here is what I get  when i issue the cmake command from within a build sub folder with this command: cmake ..

CMake Error: The source "brewtarget-240/CMakeLists.txt" does not match the source "brewtarget-240/src/CMakeLists.txt" used to generate cache

[2017-01-17 04:53] mikfire commented on #337
Ugh. The proper name of the postgresql package is libqt5sql5-psql. I always forget the extra 5. Sorry for that. There's a POSTGRES.markdown in the dev-doc directory that will give some minor help in setting up the postgresql database if you want, including the proper package names.

You will need to clean the build directory out before running cmake with a new path. Either rm -rf the directory and

[2017-01-19 16:25] eltomek opened #338 "Trying to delete "brewtarget" folder in the Recipes list causes segfault"
Found on 2.4.0
Removing folders causes a segfault (and sometimes db corruption).
When investigating the reproduction scenario I identified that the Del keypress events always refer to last selected _Recipe_ and not the item that was selected afterwards:
1. select a _Recipes_ tab in the `BtTreeView`
2. double-click on any recipe to edit it
3. select some fermentable row on the recipe and hit Del bu

[2017-01-19 19:02] Daedalus12 opened #339 "Mash Designer lets you over-shoot target collected wort volume"
Common workaround for BIAB is to use the Mash Designer dialog to create a full-volume infusion. Currently the sliders have an upper limit only based on the size of the mash tun, so it takes some careful nudging to get exactly the target collected wort. Can't think of a use case where you would want to collect more than the target volume, so the sliders should hit a limit at exactly 100%.

I think

[2017-01-19 19:16] eltomek commented on #338
This is a bit more general problem, as a user I'd expect Del button to be supported for rows in other Views, like e.g in `fermentableTable` or `hopTable` but instead the `treeView_recipe` or `treeView_style` is handled (even though user clicked on other elements, like rows). There are some more strange behaviors, but I'll submit separate issues for these.

[2017-01-19 19:33] eltomek opened #340 "BtTreeView selected items take precendence over locally selected entities"
Found on 2.4.0
I had some problems trying to figure out the headline, here are the steps:
1. open some recipe to be edited and switch to `Recipe` tab of the main window
2. in the left hand-side `BtTreeView` tree select the Equipment tab and double-click some entry that is different to the equipment selected in the Equipment field of the recipe
3. an Equipment edit dialog will pop up, press Cancel

[2017-01-19 20:15] mikfire commented on #338
Hmm. That is not how brewtarget has historically worked. That isn't an argument, merely an observation. If there's a coherent way to make that work, I'm willing to discuss.

Whatever we come up with would have to handle something like: I have a recipe selected in the tree, and a fermentable selected in the ingredient pane and the mouse isn't focused in either. When you press the Del key, what do e

[2017-01-19 20:24] eltomek commented on #338
Personally, I'd expect the last consciously selected item (on any widget) to be the subject of the deletion upon Del keypress. The mouse position and the object it is at shall be disregarded as it can point accidentaly to anything on the screen and until the user deliberately clicks on some object nothing shall be actually selected. In other words, if I clicked on the BtTreeView item and then clic

[2017-01-19 20:39] eltomek commented on #54
Are the _Strike temp_ and _Final temp_ fields really needed/usable on the `brewNoteWidget`? The _Strike temp_ value (unless the brewer decided else, but the calculated values are what he uses Brewtarget for) is the one that we have in the _Mash Step'_s _Infuse temp._ field. If he decided to use different strike temp. he could store it simply in the _Notes_ field. I have the same concerns regarding

[2017-01-20 02:29] mikfire commented on #54
The idea of the strike temp field was to allow the user to record the temperature they actually heated the strike water to -- I am sometimes distracted and sometimes (maybe) strike a little hotter than expected. Recording this sort of information is exactly what I wanted the brewnotes for -- so the little deviations that just happen on a brewday can be recorded.

The intent of the Final temp was a

[2017-01-20 12:52] eltomek commented on #54
I understand your point @mikfire, I think of a way to logically separate information fields from data fields (by data fields I understand values that take part in some calculations). When I first played with these values I was wondering what they impact (in contrast _SG_ and _Volume_ fields do impact i.a efficiency values) and was a bit concerned to see no effect.

[2017-01-21 09:53] eltomek opened #341 "Removing ingredient from the recipe does not update calculated beer parameters"
The easiest scenario on hop example (the same works for any ingredient that impacts beer parameter calculations):
1. add some hop item to the recipe, it will get added with 0,0 mass amount
2. change the amount to e.g 100g and see the IBU changed on the recipe details
3. remove the hop you just added and observe **that the IBU did not change (issue)**.

There are 2 actions that update the beer reci

[2017-01-21 16:02] begin-again commented on #337
Installing libqt5sql5-psql did the trick. Thanks for your assistance.

[2017-01-21 17:24] begin-again opened #342 "Mash Profile deletion causes fatal error"
Version: 2.40
Compiled from Source on Linux Mint 18.1
DB: SQLite

I noticed that I had several mash profiles all with the same name. Thus I attempted to delete those which were not needed. This error occurred on the first attempt. I tried on another profile but that resulted in same error.

![brewtarget-error](https://cloud.githubusercontent.com/assets/11179873/22176256/18a75fa8-dfd4-11e6-8da0-83a

[2017-01-24 22:55] eltomek opened #344 "FG calculation does not take into account mash profiles"
2.4.0
In practice mash profile significantly impact FG, while I see no effect on FG when changing mash parameters (within amylase rests temp. ranges). The only parameter taken into account seems to be attenuation of the yeast strain which looks to be a serious limitation.

[2017-01-24 23:45] cgiacofei commented on #327
I like the idea of this so far, I think it would be nice to be able to see ancestors by default as you mentioned above. One thing I've found is that the program crashes when I try to delete a recipe.

`
ASSERT failure in QList<T>::at: "index out of range", file /usr/include/x86_64-linux-gnu/qt5/QtCore/qlist.h, line 531
[1]    7290 abort (core dumped)  /usr/local/bin/brewtarget
`

I am able to dele

[2017-01-26 21:23] eltomek opened #345 "Color of the malt as displayed in the treeView_ferm is expressed in SRM regardless of unit settings"
Seen in 2.4.0

![image](https://cloud.githubusercontent.com/assets/3283040/22350959/12afee58-e416-11e6-8470-06b72ca1d341.png)

[2017-01-26 21:35] eltomek opened #346 "Newly created folders are not stored in the db"
Seen in 2.4.0
Steps to reproduce:
1. Right click on any item in `treeView_ferm` and choose `New->Folder`
2. Enter folder name and hit Enter, see the newly added folder in the `treeView_ferm`
3. Gracefully close the Brewtarget and run it again
4. There is no folder created in step 2.

I noticed that in order to activate the context menu you need to right-click on list item, it is not invoked upon r

[2017-01-27 01:24] mikfire commented on #346
Yes. That is working as designed. Or, at least, it is a known limitation
with the implementation. I would have to completely reimplement the
folders to fix this.

Mi

--

  Mik Firestone

  mikfire@fastmail.com

On Thu, Jan 26, 2017, at 16:35, Tomek Lorek wrote:

Links:

  1. https://github.com/Brewtarget/brewtarget/issues/346
  2. https://github.com/notifications/unsubscribe-auth/AKxgFz8Xq8Tzf406

[2017-01-27 14:28] #166 closed

[2017-01-27 14:54] eltomek commented on #346
I understand not saving an empty folder, but if I add a recipe to a newly created folder it gets stored in the top-level "folder" and the newly created folder is not there, so effectively there is no folder support.  In that case how about removing references to folder maintenance in the UI so the users are not concerned?

[2017-01-27 14:59] mikfire commented on #346
I am sorry. I may have misunderstood something.

The way I understood your original bug was that empty folders are not
preserved over a restart, which is a known limitation. There was no
mention of moving something into the folder.

The way I understand your second comment is that no new folders
are being created, even if they are populated. That is a very
different problem.

I am now slightly con

[2017-01-27 15:05] eltomek commented on #346
@mikfire you've replied too fast :) The latter comment was my mistake, I re-tested the non-empty case and it works as expected. You can remove my defect.

[2017-01-27 15:06] #346 closed

[2017-01-27 15:06] eltomek commented on #346
Works as expected

[2017-01-31 04:13] mikfire commented on #338
One of the hardest things in programming like this is to realize when the other person is right. You are right. I hate the way deleting works.

See if the referenced commit makes sense to you. If not, lets talk and see what I'm missing.

[2017-01-31 21:27] eltomek commented on #338
With your commit  https://github.com/mikfire/brewtarget/commit/0908b5516f4d7a8a92b4cc3de3e0c93b4c9142d0 deleting works just as I'd expect as a user and I think it greatly improves the overall BT app experience. Thank you for that!
The original issue though is about crashing upon deleting a folder and I just checked that it crashes on deleting **any** folder, not just the _brewtarget_ one. I will r

[2017-02-01 17:59] #339 closed

[2017-02-01 18:01] mikfire commented on #338
I am doing some signal rewiring, but I will handle issue #341 in a different commit.

I need to redo this slightly to use the new signal/slot connections, and then will submit the merge request.

[2017-02-02 02:53] Daedalus12 commented on #204
Been kicking around ideas on the mash table/designer/wizard trifecta. What about something like this for the mash table:
![image](https://cloud.githubusercontent.com/assets/1980452/22535371/90549712-e8af-11e6-8eb9-768826f41a61.png)

The user sets the initial temperature and all target temperatures, and can specify for one (and only one) step a target thickness (or infusion temperature or amount).

[2017-02-02 04:44] pricelessbrewing commented on #204
Yes that would be suitable I think, and could completely do away with what I think is a clunky/strange wizard/designer dialog process. I would replace Amount with Volume, and I like the Tun Fullness column! I think that would be MUCH more user friendly, and faster to use as well!

Something else I thought should have been included when using the other day, Double clicking on an ingredient name in

[2017-02-02 18:40] Daedalus12 commented on #204
I agree it should be "Volume" instead of "Amount".

"Manual" is a bad name for that column; "Target" would be better. I'm thinking of it as a drop-down menu where you can select from the following options:

- Thickness (makes this the driving step)
- Volume (makes this the driving step)
- Infusion Temp (makes this the driving step)
- Tun Fullness (makes this the driving step)
- Collected Wort (mak

[2017-02-02 19:31] eltomek commented on #204
@Daedalus12 I fully support mash wizard/table rework but I think that many controlling options will make it complicated no less than it is today.

Is there a real life scenario for having mash step driven by a volume of collected wort or its thickness? The cases that I always used are:
- calculate initial infusion volume and its temp. before dough in to have the target step temperature
- calculate

[2017-02-03 03:21] mikfire commented on #204
I've tried for years to redesign this stuff, and have not even had the beginnings of an idea. I would suggest a few things to keep in mind while you are thinking about redesigning this part.

My experience is that the mash wizard/designer/whatever is the hardest part for a new user. What ever you come up with, try really hard to make it easy for the beginning brewer or at least the new brewtarget

[2017-02-03 03:56] pricelessbrewing commented on #204
Note entirely sure how to quote on here, so forgive me if my formatting is off.

It seems to me that all of these can actually just go to the background and not be displayed. If a user changes a variable, collected wort, infusion temp, whatever, it should automatically change the type of "Target" it is.

A change in thickness drives changes in infusion volume, and therefore collected wort, and vol

[2017-02-03 04:49] pricelessbrewing opened #350 "Request: Double click ingredient opens ingredient editor"
When double clicking the name of the ingredient while within the fermentables/hops/yeast table, it should open the relevant ingredient editor. This will make it more user friendly, especially for new users.

Haven't kept track of all the 2.4 changes, but I don't think this was one of them?

[2017-02-04 04:29] Daedalus12 opened #351 "Mash wizard creates fly sparge step even when "No sparge" radio button checked"

[2017-02-04 10:19] eltomek commented on #204
This is really good discussion and promising development direction of this part of BrewTarget. How about if we prototype the table and dialogs in the online spreadsheet before actual coding in BT? That might be easier to cooperate on the solution which looks to have dozens of need that need to be addressed.
I set up an initial spreadsheet for that purpose at https://docs.google.com/spreadsheets/d/

[2017-02-04 14:46] pricelessbrewing commented on #204
I'm not sure if this type of multiple simultaneous inputs can be done in a
spreadsheet.

I can see if I can create a prototype version online though using js,
jQuery, and html when I get home to demonstrate.

On Feb 4, 2017 5:19 AM, "Tomek Lorek" <notifications@github.com> wrote:

[2017-02-04 15:04] eltomek commented on #204
@pricelessbrewing it will handle it, if not from the spreadsheet level you can enhance it easily with JavaScript (https://developers.google.com/apps-script/guides/sheets). Though I think it will be more than enough.

[2017-02-04 15:05] pricelessbrewing commented on #204
Neat! I didn't know Google sheets could do that!

On Feb 4, 2017 10:04 AM, "Tomek Lorek" <notifications@github.com> wrote:

[2017-02-05 02:35] Daedalus12 commented on #351
Working on fixing this at https://github.com/Daedalus12/brewtarget/tree/mash-wizard-no-sparge

[2017-02-06 00:16] Daedalus12 commented on #204
@mikfire, I agree it's a tough problem to make the mash features easy-to-use while simultaneously supporting all the different use cases. I do mostly BIAB single-step full-volume mashes these days, definitely interested in keeping things simple for those most-common use cases!

Have been playing with it more and thinking on how to avoid making it unfamiliar for existing users. One way would be to

[2017-02-06 20:41] eltomek commented on #342
Fixed by https://github.com/Brewtarget/brewtarget/pull/349

[2017-02-10 13:41] begin-again commented on #342
Is this fix going to be added to the 2.4 branch?

[2017-02-11 17:40] eltomek commented on #342
@mikfire could you please review and merge/reject https://github.com/Brewtarget/brewtarget/pull/349 ?

[2017-02-12 01:00] mikfire commented on #342
Sorry. Had to attend a funeral. It's slowed me down a bit. I'm home, but
I still need a few days to relax. Once I'm a little more recovered, I'll
review and commit.

Mik

--

  Mik Firestone

  mikfire@fastmail.com

On Sat, Feb 11, 2017, at 12:40, Tomek Lorek wrote:

Links:

  1. https://github.com/mikfire
  2. https://github.com/Brewtarget/brewtarget/pull/349
  3. https://github.com/Brewtarget/br

[2017-02-19 14:02] #342 closed

[2017-02-19 14:02] #351 closed

[2017-02-25 18:31] cleitonbueno opened #355 "btOS - BrewTarget OS GNU Linux Embedded - RaspberryPI 3"
**btOS - BrewTarget OS GNU Linux Embedded - RaspberryPI 3**

As a hobby and a little time, I decided to port the BrewTarget to a popular Embedded platform, today RaspberryPI 3.

<br>
<br>

- GNU Linux Embedded customized basic to BrewTarget - btOS(BrewTargetOS)
    * GNU
    * Linux Poky 2.1.2
    * Busybox 1.24.1
    * Kernel 4.1.21
    * BrewTarget stable/2.4.0
    * Qt5.6.2

- Support Database

[2017-02-25 18:40] rocketman768 commented on #355
Love it! Good work :)

The problem with the icons is almost certainly that libqt5svg5 is not
installed. You can see most dependencies in the debian packaging:

https://github.com/Brewtarget/debian-packaging/blob/develop/debian/control

On Sat, Feb 25, 2017 at 10:31 AM Cleiton Bueno <notifications@github.com>
wrote:

[2017-02-25 18:49] cleitonbueno commented on #355
Hi Philip, thank you!

I added depency libqt5svg5, was the first thing I did hehe.

I'm analyzing the logs, I'm suspecting SVG support in the QtBase build.

[2017-02-25 22:37] mikfire commented on #355
And please keep me up to date on any optimizations you find. If it makes
things faster on Pi, it will be worth trying elsewhere.

Mik

--

  Mik Firestone

  mikfire@fastmail.com

On Sat, Feb 25, 2017, at 13:49, Cleiton Bueno wrote:

Links:

  1. https://github.com/Brewtarget/brewtarget/issues/355#issuecomment-282503946
  2. https://github.com/notifications/unsubscribe-auth/AKxgF5vvzRCeknO7nXqne83

[2017-02-26 15:33] pedrox86lopes commented on #355
Great!!!

*==~~==~~~==~~==~~==~~==~~==~~*

*Pedro Lopes - x86 - Perito Forense em Informática,
Grafotécnica/Documentoscopia, Judicial, Extrajudicial e Assistente técnico.*

*==~~==~~~==~~==~~==~~==~~==~~*

On Sat, Feb 25, 2017 at 7:37 PM, mikfire <notifications@github.com> wrote:

[2017-02-26 16:20] cleitonbueno commented on #355
Nice!

I will correct some details and then release an image for RaspPI3.

I'm enjoying the performance, and I'm structing to port to other boards ;)

[2017-03-01 02:22] pedrox86lopes commented on #355
Cleiton, estive pensando aqui.
Conhece o projeto CraftbeerPI?

Em 26 de fev de 2017 13:20, "Cleiton Bueno" <notifications@github.com>
escreveu:

[2017-03-01 02:40] cleitonbueno commented on #355
Olá Pedro, não conhecia!
E achei muito legal o projeto, na verdade é mais ou menos isso que queria fazer com o brewTarget, customizar uma Distribuição Linux Embedded e deixar o mais enxuto possivel, e criar camadas para portar para outras Placas.

Como utiliza um DB, não é dificil subir um WebServer na Board RaspPI3 por exemplo e montar um mesmo esquema, e com pouco trabalho conectar um Sensor de

[2017-03-01 02:43] pedrox86lopes commented on #355
SENSACIONAL!
Vamos conversando, estou aos poucos automatizando meu processo cervejeiro
aqui em casa.
O pessoal do CraftBeer recentemente desenvolveu uma Shield pro Rasp que ja
simplifica reles e conexoes de "energia" pra ligar as panelas, enfim, vamos
nos falando.
Até!

*==~~==~~~==~~==~~==~~==~~==~~*

*Pedro Lopes - x86 - Perito Forense em Informática,
Grafotécnica/Documentoscopia, Judicial, Extr

[2017-03-04 19:39] kapinga commented on #259
I have played around with this some. On Qt 5.6 and later (I tested on 5.8, but the blog post above indicates it should work starting with 5.6.

One line of code is needed to activate HiDPI awareness. In main() in main.cpp, add
`QGuiApplication::setAttribute( Qt::AA_EnableHighDpiScaling );`
before `app` is initialized.
This can also be done by setting the environment variable `QT_AUTO_SCREEN_SCALE_

[2017-03-06 02:25] kapinga commented on #125
I'm happy to work on this if it'll be helpful (no promises on actually doing anything useful, since I just started trying to develop BrewTarget a week or two ago).

@mikfire, can you explain briefly explain what you're hoping to do with the JSON style definitions, once you have them? AFAICT, you're hoping to create on or more JSON files that are compatible with a modified version of `add-to-defaul

[2017-03-06 22:13] mikfire commented on #125
The problems you mentioned at the beginning are why I gave up. I couldn't find any reasonable mapping from the current guides into the festering sore that is BeerXML.

My goal was to use this as a launch pad to killing BeerXML and replacing it with something more in line with modern data exchange, something that could be validated, something that allowed us to easily consume external resources (li

[2017-03-07 14:06] kapinga commented on #125
If modifying the database is hard (and you know far better than I on this) it seems that we're stuck with the fact that BrewTarget's internal representation is based on BeerXML. I like your idea of pulling data from various external sources automatically, but we're still stuck with the fields we have within the working database.

The easiest short-term solution would be to shoe-horn the more detai

[2017-03-07 19:11] gkornelson opened #357 "Mash wizard does not adjust sparge water temperature for changes in mash temperature"
Using brewtarget 2.3.0 on Ubuntu:

I create a mash-in step, set a target temperature, and then run the mash wizard and it spits out strike water volume and temperature for that target, and a volume and temperature for the batch sparge step.

If I change the target temperature of the mash and re-run the mash wizard, it adjusts the initial strike water temperature, however does not change anything i

[2017-03-08 05:24] gkornelson commented on #357
This bug is also present using Windows, version 2.3.0. Seems to work the only the first time the mash is setup, even after restarting brewtarget.

[2017-03-08 17:53] pricelessbrewing opened #358 "FG calculation does not take into account unfermentable ingredients (example: Lactose)"
Example, adding 1 lb of lactose to a 5.5 gallon batch should raise the FG by approximately 6.37 gravity points (35/5.5).

However in brewtarget, it's treated the same as any other sugar source, and increases the fg by 2 points.

[2017-03-08 18:01] pricelessbrewing commented on #344
I could be mistaken, but I believe the issue is that Brewtarget treats the yeast as having a single attenuation %, while it's typically listed as having a min and max attenuation.

I haven't looked at the formulas in awhile, but I believe most brew software treat the mash temp as a linear correlation with the attenuation. The minimum attenuation % is respective to the ~160F, and the maximum attenu

[2017-03-08 19:37] pricelessbrewing commented on #332
I'm not sure I understand, any ingredient can be copy and pasted via right clicking to produce a duplicate. You can then change the name, and properties as desired.

[2017-03-08 21:45] tpiszcze commented on #332
Right. I did not try it before. It works exactly as the feature I proposed.

[2017-03-08 21:45] #332 closed

[2017-03-09 09:59] eltomek commented on #344
Linearity would be a sufficient solution. I did not look into the code for it but played around with mash temps and saw no impact of temps on FG.
The yeast edit dialog currently supports only one attenuation value so until we have a range to be dialed in we could either apply some reasonable range during calculation or .... change to min and max attenuation % values.

Anyway I think this is maybe

[2017-03-09 10:07] eltomek opened #359 "Remove Default amounts in ingredients editors"
I am focusing a bit on UI/UX aspects of Brewtarget and as part of my observations I'd like to suggest removing  _Default Ammount_ field that is present in each ingredient editor.

![image](https://cloud.githubusercontent.com/assets/3283040/23745267/e885c69e-04b7-11e7-9228-dcd63cea3611.png)

![image](https://cloud.githubusercontent.com/assets/3283040/23745327/110ea89c-04b8-11e7-8258-11589ae32fff.pn

[2017-03-09 13:29] mikfire commented on #344
The only hard science I've been able to find is from Kai. His data
suggests maximum fermentable sugars are produced with a mash of around
152F, with a 2% drop in fermentability for every degree F (or maybe C? I
would have to go read the paper again) above or below that point.

Now, cue all the people who are going to (loudly) explain that we all
know that maximum fermentability is produced from a

[2017-03-09 15:59] pricelessbrewing commented on #344
Understandable @mikfire. Looked again at braukaisers findings, seems the difference between 148-152F is negligible.

I couldn't find the formulas for brewersfriend and beersmith, but I believe I've reverse engineered it from a couple data points. It appears to be linear formula with an offset. I'll post my google sheet later tonight after double checking with more examples. If i can figure out how

[2017-03-10 03:59] pricelessbrewing commented on #359
I have no idea if that variable is used anywhere else, but I agree that removing it would increase user experience.

On a similar note: Why do fermentables have a _Bitterness (IBU*gal/lb)_ property? Is there any case where this is applicable?

[2017-03-10 04:49] rocketman768 commented on #359
Prehopped extract.

On Thu, Mar 9, 2017 at 7:59 PM Priceless Brewing <notifications@github.com>
wrote:

[2017-03-10 14:38] eltomek commented on #359
Do we need it?

[2017-03-10 14:39] kapinga commented on #359
As a small time homebrewer, it's nice to have things like yeast packets (which have a well defined size and are almost never used partially) default to a non-zero volume. It saves me needing to look up or memorize the amount of yeast in a particular package when building a recipe.

I would say the same goes for LME (I design my recipes to use exactly 3.3 lb increments of LME so I don't have partia

[2017-03-10 14:46] kapinga commented on #359
Quickly scanning the fermentables list it doesn't look like BrewTarget by default includes profiles for pre-hopped extract, but if someone were to import a BeerXML recipe including one then BrewTarget would correctly process it. If we remove it from the UI, we end up in the weird place where BrewTarget would use the fermentable bitterness value without ever displaying to the user what that value i

[2017-03-10 16:12] kapinga commented on #357
I was able to confirm this. The problem only seems to exist when there is exactly one extraction step in the mash:
![image](https://cloud.githubusercontent.com/assets/1765623/23802673/00060c32-0582-11e7-882f-418a4e9bff8f.png)
![image](https://cloud.githubusercontent.com/assets/1765623/23802683/08635d30-0582-11e7-88d7-99bbefe291db.png)
The temperature of the sparge water is calculated a bit differe

[2017-03-19 16:16] kapinga commented on #357
So I figured this out for version 2.3.0/2.3.1. There was an off-by-one error in the MashWizard code that caused it to always use the default MashStep temperature (67 C) instead of the actual final temperature.

It's a one-line fix for version 2.3.1. I'm now checking into whether this is a problem for the development branch (there's been a big rewrite of MashDesigner in the interim.

[2017-03-19 17:21] kapinga commented on #357
I just looked at the current develop branch, and it does not suffer from this bug. The sparge steps are created after determining the last mash step's temperature, so the last mash step correctly provides the mash temperature.

[2017-03-19 19:31] kapinga commented on #358
Right now, Brewtarget's fermentable sugar calculations have a special case for "Milk Sugar (Lactose)" that are supposed to process the sugar as non-fermentable. There's no property in BeerXML that corresponds to unfermentable sugar, which is why (I assume) that it's included as a hard-coded special case (see [recipe.cpp](https://github.com/Brewtarget/brewtarget/blob/stable/2.3.0/src/recipe.cpp#L45

[2017-03-21 02:55] kapinga commented on #54
Since this is apparently a blocking bug for the 2.4.0 release, I vote that we clarify the tooltips and PDF to be consistent with each other and call it a day. Additional fields might be nice, but adding them requires editing the database schema and adding in yet more UI elements.

The relevant database fields are called `strike_temp` and `mash_final_temp`. I vote that we update the labels (and onl

[2017-03-23 16:59] kapinga commented on #258
Is this still an issue? I just checked on the current 2.4.0 branch and the print preview looked a lot like the printed copy.

This ignores the fact that the 'Print Preview' is a resizable HTML window (so there's no pagination or margins), but otherwise it looked pretty good to me.

[2017-03-28 00:55] begin-again opened #365 "Recipe Extras Tab >> Notes & Taste Notes should be saved?"
v2.4, Linux mint 18.1
I am assuming that because these sections are editable that they should be saved with the recipe. It's not saving anything I type into these fields.

[2017-03-30 14:16] jensnielsen opened #366 "Fermentables wrong colour unit in default database"
Hi

I noticed a lot of my fermentables had their colour listed in the wrong unit so I scrapped my database and restored the default one (brewtarget/data/default_db.sqlite from develop branch) but I still have the same issue. I haven't checked them all but those I have checked are wrong. For example

- "Caramel/Crystal Malt - 80L" is listed as 80 srm but based on the name it should be an 80 Lovibon

[2017-04-01 02:15] kapinga commented on #366
As far as I can tell, Lovibond is approximately equivalent to SRM (see [BeerSmith] (http://beersmith.com/blog/2008/04/29/beer-color-understanding-srm-lovibond-and-ebc/) and [Wikipedia] (https://en.wikipedia.org/wiki/Beer_measurement#Colour)).

[2017-04-01 06:12] jensnielsen commented on #366
Nice, that's interesting. I based my knowledge of colours on this page, which has quite a big difference between SRM and L: https://www.brewtoad.com/tools/color-converter

The reason I discovered this is because I added a recipe for a clone beer and didn't get the colour the recipe told me I'd get (according to the slider in Brewtarget, I haven't actually checked the colour of a finished product)

[2017-04-01 17:12] kapinga commented on #366
**tl;dr:** Brewtarget is actually showing the Lovibond color of the malts/fermentables, even though it says SRM. The color calculations the correctly use these Lovibond color units to estimate the final beer color in SRM.

---

I answered too quickly last night, the situation is somewhat more complex than I thought. This [StackExchange](http://homebrew.stackexchange.com/questions/2632/how-do-you-c

[2017-04-10 02:49] anderwm commented on #365
Yeah, this use to work

[2017-04-28 00:20] pricelessbrewing commented on #290
I'm not sure this is being maintained anymore, since he never responded to your comment on his repo.

Does anyone know of a similar database for malts?

[2017-05-01 21:17] mikfire commented on #290
In my perfect world, such a database would be maintained by a neutral third party and allow submissions (with something like a git pull request so that they can be curated) for updates. Additionally, each ingredient would be assigned a unique ID (like a UUID) so that the ingredients would be portable over all the brewing software.

That is also the world where the AHA maintains the beerXML specifi

[2017-05-02 00:17] pricelessbrewing commented on #290
Sounds like a nice place.

I've been considering making making such a database of ingredients with files in JSON, xml, and csv in a BeerXML 1.0 format as well as an extension of it for more ingredient specs that aren't currently part of the beerxml format.  When importing, my software would first check for a matching entry in the extended database, if not it would use the BeerXML 1.0 standard form

[2017-05-04 19:44] padraic7a opened #368 "Add a kettle souring step"
Would this be possible?

One typical way this is done is to mash, boil for 10 - 15 mins, add lacto for 48-72 hours and then to do a hop boil.

See http://sourbeerblog.com/lactobacillus-2-0-advanced-techniques-for-fast-souring-beer/ for details.

Is it better for issues like this to go here or in launchpad?

Before posting an issue would it make sense to check beer.xml?

[2017-05-09 15:37] dmofot commented on #290
I think the issue is more that @griffithben doesn't always get notifications from [brewerwall](https://github.com/brewerwall).  We have a homebrew slack that he is pretty active on, so I'll ping him there.

[2017-05-17 14:32] randar68 commented on #289
Is 2.4.0 going to be officially released?

[2017-05-24 16:12] marker5a opened #370 "Request: Undo/Redo Ability"
As a user, when formulating recipes, it can be easy to to accidentally make a change to a recipe unintentionally.  At the moment, there is no good way, that I can see, to undo or redo the change.  When I make a mistake to a recipe, I generally use the clunkier approach of just restarting the program and risk losing unsaved changes to the recipe.

It seems that it might be nice to track changes mad

[2017-05-28 03:10] speshak commented on #370
I'm not sure how feasible it is to use, but QT5 does have an undo framework that might be worth looking at: http://doc.qt.io/qt-5/qundo.html

[2017-05-28 13:24] marker5a commented on #370
I like that idea of not having to build a new datatype... would be much nicer to use the built in framework for the heavy lifting.  I need to dig into it further to understand the scope of what it can do, but it sounds promising!

In any case, I'm still going through the code to find a common way to handle different transactions.  For instance, removing an item from the Fermentables table is a dif

[2017-05-29 15:31] creativecoder commented on #333
I've also had my database wiped out on macOS. In my case, I made some recipe changes that I didn't want to save. When I closed the program and said "No" to saving changes, it wiped out all recipe data I had ever entered in the program.

## Steps to Reproduce

1. Open brewtarget. Past recipes and batches appear when you load the program.
2. Make a change to a recipe that you don't want to save.
3.

[2017-05-29 18:11] xor-gate commented on #333
I stopped using brewtarget and now store all my recipes in an spreadsheet which will always work. To bad.

[2017-05-31 08:09] JulianVolodia commented on #289
0) Is it true that brewtarget seg. faults may happen more often when:
[10:02:40.129] ERROR : *Data directory "/usr/local/share/brewtarget" is missing.*  Some features will be unavaliable.
?
What will be not working? Could sb tell me?

1) Bug:
For file bad.db:
`
<bad/>
<xml>
asdfasdf
</xml>
`
./brewtarget --from-xml bad.db
Segmentation fault

2) Bug:
![selection_011](https://cloud.githubusercontent

[2017-06-28 02:59] pricelessbrewing commented on #289
Just checking in. I haven't really seen any movement in awhile,

[2017-07-03 17:50] dpettersson commented on #289
It has been very quiet lately, but it is summer time so it is not totally
unexpected :)
I hope to be able to push som things later his week.

/Daniel P

2017-06-28 4:59 GMT+02:00 Priceless Brewing <notifications@github.com>:

[2017-07-05 17:29] dpettersson opened #371 "Cannot delete style"
Mike Morris wrote:

For reasons of (legacy database?) I have FOUR styles all called "English IPA". I'd like to delete 3 of them, but cannot. Tried renaming some of them to "Enlish IPA-2", "English IPA-3" etc. and then deleting those, but,... no go. Stuck with them.

------------

I have asked for more information about Brewtarget version, OS and also a copy of the database to test with.

[2017-07-06 13:24] mikro2nd commented on #371
Copy of database at https://www.dropbox.com/s/uwrybc1vvs2t9j3/database.sqlite.gz (because for $REASONS github won't/can't accept zip files from linux zip, nor gz nor bzip ;P)

[2017-07-06 16:08] malavv commented on #289
Hey guys,

I am confused about the current state of deployment/releases.

- Why are there no win32-win64 targets on the Github 3.1 Release?
- Am I right in thinking that new features should be applied on
Brewtarget/develop?
- Am I right in thinking that bug fixes should be applied on
Brewtarget/stable/3.4.0?

Cheers!

On 3 July 2017 at 13:50, Daniel Pettersson <notifications@github.com> wrote:

[2017-07-07 16:06] xboxc opened #373 "Saving error"
This is for Brewtarget 2.3.0 on Mac platform.
When I close program and open again, all my saved recipes and other items it's gone.
The program  looks like I open it first time.

[2017-07-09 09:07] dpettersson commented on #371
I cant get the data base you sent me to work.
Brewtarget only loads the default styles.

Can you send it again?     send at moc.liamg(ta)18nosttep   :)

2017-07-06 15:24 GMT+02:00 Mike <notifications@github.com>:

[2017-08-03 03:53] ryho opened #375 "Is there anyone building this on macOS?"
Sorry that this isn't the perfect venue, but I'm looking a project to start contributing to outside of work, and as the documentation stands, there's no way to get anywhere near running this program from source on macOS.

[2017-08-09 13:52] rscmbbng commented on #375
There is a reference to mac packaging in the wiki: https://github.com/Brewtarget/brewtarget/wiki/Mac-Packaging

[2017-08-10 13:03] ryho commented on #375
One of the prerequisites is:
You can successfully build and run Brewtarget on your mac.
I think this is about getting the final .app file that you can distribute to others.

[2017-08-15 02:59] malavv commented on #54
This fix was pulled onto v2.4 stable. I assume this bug is fixed.

[2017-08-15 02:59] #54 closed

[2017-08-19 01:04] malavv opened #376 "Dependencies are not the same in the main README and the vagrant provisioning file."
Hey guys,

Trying to set up Vagrant provisioning, I noticed the dependencies it requires are different from those listed in the project's README. The inclusion of `libqt5svg5-dev` tells me that Vagrant's configuration is more up-to-date. In any case, a review of the dependencies should be made and the two synced and updated.

[2017-08-20 18:40] #365 closed

[2017-08-22 23:01] rocketman768 commented on #375
The continuous integration build is a mac build. You pretty much just need to install the usual dev tools from xcode, cmake, and qt5. See the [.travis.yml](https://github.com/Brewtarget/brewtarget/blob/develop/.travis.yml) file.

[2017-09-20 12:16] jawsdaws commented on #330
Just added a pull request with a fix for this.

[2017-09-21 18:17] dpettersson commented on #337
Maybe we should close this issue as it looks like it is resolved

[2017-09-21 18:33] #337 closed

[2017-09-23 00:18] cgspeck commented on #41
Thank you @pricelessbrewing for posting your workaround

[2017-09-23 08:55] dpettersson commented on #373
Does it say anything if you open in from the command line?

[2017-10-01 15:48] xboxc commented on #373
I don't know. I only open it from icon.

[2017-10-01 15:50] xboxc commented on #373
No no. If i create backup and use a restore from backup option and reset program, then all recipes is in program normally.
I must every time use this option.

[2017-10-02 22:02] jawsdaws commented on #330
There is a fix merged now.  This can be closed.

[2017-10-03 20:42] pricelessbrewing commented on #368
It's doable if the team wants to.

beerXML standard is pretty out of date, is a dead project, and does not support souring. Since it's dead, that's unlikely to change anytime soon. We really need a new beerxml / BeerJSON standard.

[2017-10-10 03:28] jawsdaws commented on #341
Removing fermentables and removing yeast also have the same problem.  I think I have a fix.  I need to do more testing...

[2017-10-19 02:53] jawsdaws commented on #341
This appears to be a bug in 2.4.0 and not in 2.3.0

[2017-10-28 19:46] jw323 opened #381 "PPA is out of date"
Can the PPA be updated for latest release as well as the the current supported Ubuntu versions?

https://launchpad.net/~brewtarget-devs/+archive/ubuntu/brewtarget-releases

[2017-10-31 17:13] punkrawkgeek commented on #177
Was just wondering if this was still being worked on or not...

[2017-10-31 17:40] dpettersson commented on #177
This issue is closed since 2016-02-10.
I assume that it was solved by that time since @rocketman768 merged and closed it.

May i ask if the problem has returned?

[2017-10-31 18:12] jawsdaws commented on #177
Are you running 2.3.0? It looks like this wasn't fixed until 2.3.1.

[2017-10-31 18:25] #358 closed

[2017-10-31 18:30] punkrawkgeek commented on #177
@jawsdaws Where do I get 2.3.1?? I've looked everywhere... :\

[2017-10-31 18:58] jawsdaws commented on #177
@punkrawkgeek Try here. https://github.com/Brewtarget/brewtarget/releases

[2017-11-01 00:09] punkrawkgeek commented on #177
@jawsdaws Uninstalled and reinstalled the newest one. Still the same thing... Any other ideas???

[2017-11-03 12:36] badcrc commented on #373
This happened to me log ago (I moved to a web-based software) and was when the program asked if you want to save the changes, if you select no (even without making any changes) it deleted the database.

I had my database on my Dropbox folder if that helps.

[2017-11-09 17:28] dotps1 opened #383 "Add "each" as a unit of measurement"
I thought it would be a good idea to add the "each" as a unit of measurement,  for example, when adding an oak spiral stave, i would like to add it by _1 stave_ rather then by weight.

[2017-11-09 20:12] dotps1 opened #384 "Typo in Yeast editor"
there is a typo in in the Yeast editor dialog.  see screen shot:
![image](https://user-images.githubusercontent.com/1016996/32627418-5deca600-c560-11e7-9f2f-c54a573df3a8.png)

[2017-11-09 23:12] rocketman768 commented on #384
That is a valid word and is intended.

On Thu, Nov 9, 2017, 12:12 PM Thomas Malkewitz <notifications@github.com>
wrote:

[2017-11-10 14:38] dotps1 commented on #384
looks like _quanta_ is plural for _quantum_.  https://en.wikipedia.org/wiki/Quanta.  I also searched _quanta yeast_ and i did not see any useful results.

[2017-11-12 10:19] jpkilpi commented on #177
I can confirm that the issue is still there in 3.2.1.

[2017-11-17 14:29] dotps1 opened #385 "Kettle volume loss due to trub"
I feel like there should be another value when defining your equipment.  There should be the ability to account for trub loss in the kettle when transferring to fermenter.  I generally loose at least a half gallon on that right now, so it would be nice to have that calculated in my strike/sparge water when defining the mash.

[2017-11-18 15:33] #384 closed

[2017-11-18 15:41] dotps1 opened #386 "Add values for pH"
Any chances in the future to add support for target pH values both for design and in the brewing logs?

[2017-11-21 20:24] HumanG33k opened #387 "translation"
There is any translation provide ?
I can do it for french if is not do.
For the website too.

Let me knows.

[2017-11-21 20:33] HumanG33k commented on #387
hum it’s look there is a translation. But it’snt detect locales. maybe it’s can be an improvement ?

[2017-11-21 21:29] malavv commented on #387
Hi HumanG33k!

I think the french translation of Brewtarget is one of the most complete translation. You can still contribute any mistake or optimization you see, but I think a lot of it has already been done. If you want, you can also look at providing help on the User Manual. Which is [hosted there](https://www.gitbook.com/book/brewtarget/user-manual/details). We try to keep translation as close

[2017-11-26 19:00] HumanG33k commented on #387
Hello, i saw that. The translation is good. If we exclude the fact we have to restart for a full translation.
I find some graphic rezise issue i will post a new issue with screenshot soon.

[2017-11-27 14:36] superroma opened #388 "BeerJSON format development"
Hi

My name is Roman Eremin, and I have started a github repo to work on BeerJSON format.

https://github.com/beerjson/beerjson

BeerJSON is based on unfinished BeerXML 2.x, and hopefully will be less limited than BeerXML 1

If you are interested in joining the working group, let me know.

[2017-12-28 18:52] cleitonbueno opened #393 "Docker with Linux+Brewtarget 2.4.0"
Full image of Linux Xenian + dependencies Qt5 + installation brewtarget 2.4.0 (based repo github).

https://hub.docker.com/r/cleitonbueno/brewtarget/

[2018-01-08 19:03] #341 closed

[2018-01-08 20:50] jonte commented on #350
@pricelessbrewing please check if the PR referenced above fixes your issue. I believe it should!

[2018-01-09 16:45] pricelessbrewing commented on #350
If it works as described, then yes that's perfect.

[2018-01-09 16:45] #350 closed

[2018-01-09 17:39] pricelessbrewing commented on #385
This exists in the equipment editor on the right under Losses and is labelled "Kettle to fermenter".

[2018-01-09 17:46] dotps1 commented on #385
thanks for the tip, I've moved on and purchased beersmith2.  thanks.

[2018-01-09 17:46] #385 closed

[2018-01-09 22:02] jawsdaws opened #394 "Notepad style recipe option."
A feature I would like to see would be to add an option to have a notepad/blank textedit box as a recipe of some kind.  The recipe could go into the recipe tree or maybe add another tab to the left and then to the right just have a textbox to write notes in.  It would be very nice to be able to keep some of my homebrewing instructions and notes that are not particularly related to a beer recipe.

[2018-01-19 10:48] JakeFry opened #396 "Fermentable added to recipe has inventory amount set to zero."
Fermentable added to recipe has inventory amount field set to zero. Fermentable inventory is not updated after using "brew it" even after changing fermentable inventory amount in recipe to actual value.

[2018-01-26 23:32] pricelessbrewing opened #397 "Building on windows and getting started on Windows?"
This will be my first time developing for desktop, so I may be a little lost here, but it seems like the building on windows is a little out of date?

What components in qt do I need?

What do I need from cmake? When I clicked "configure" in cmake, I needed to get MSBuild from Visual Studio 15 2017, but do I need any other modules or components from visual studio 15 or just MSBuild? Are there othe

[2018-01-28 21:46] Jsakkos opened #398 "ABV Calculation Error"
It seems that there is an issue calculating the ABV. When I use a predefined Brewtarget recipe and "Brew it", the actual ABV doesn't match the projected ABV, even when the OG and FG are exactly as specified in the recipe. It seems possible that the projection uses the Alternate ABV formula and the actual ABV uses the standard formula. See screen shots below:
![scr1](https://user-images.githubuserc

[2018-01-29 19:33] dpettersson commented on #397
HI,

Most of us develops on Linux or windows so the knowledge about it might be lagging a little bit.
I would suggest that you download the Qt-sdk from https://www.qt.io/download (take the opensource version).
Also for cmake, do you really need msbuild? I thought all should be included in the download fro https://cmake.org/files/v3.10/cmake-3.10.2-win64-x64.msi.

I can try this in the weekend and

[2018-01-29 19:49] malavv commented on #397
Hi!

I have been working on Brewtarget for windows for some time now.

I would suggest you look at this page : https://github.com/
Brewtarget/brewtarget/wiki/Building-on-Windows

It might be a bit out of date, but should get your started.

On 29 January 2018 at 14:33, Daniel Pettersson <notifications@github.com>
wrote:

[2018-01-29 22:32] pricelessbrewing commented on #397
Thanks. I'll give those a try when I get home tonight.

Cmake gave me an msbuild error and googling it said I needed to get visual
studio desktop development. Could be wrong, like I said this will be my
first desktop project.

On Jan 29, 2018 2:49 PM, "Maxime Lavigne (malavv)" <notifications@github.com>
wrote:

Hi!

I have been working on Brewtarget for windows for some time now.

I would suggest

[2018-01-30 04:13] pricelessbrewing commented on #397
Cmake no longer complains about msbuild.

But now it's upset that I have qt in a nonstandard install (don't have room for a 20+ gb install on my main ssd to build this...). The wiki just says "If cmake does not find Qt, you'll have to manually tell it where Qt is located. " Which is ... not helpful unless you're familiar with cmake. Which if you were familiar with cmake, you would probably already

[2018-01-30 04:39] malavv commented on #397
Hi again,

First, I would suggest you use qt 5.6 as I am not sure qt 5.10 is supported
by Brewtarget at the moment. Then, I would suggest you use mingw for
building the project. I remember trying to get it building on Visual Studio
but never really made it work (although I prefered mingw anyway).

If you use the mingw way, you will need to install the mingw tools inside
the qt installer. Then, as

[2018-01-30 15:38] pricelessbrewing commented on #397
@malvv What version of qtcreator then?

[2018-01-31 20:08] jonte commented on #398
I had a look at this, and I can reproduce the same thing as you're seeing (ABV and projected ABV do not match, even when gravities are hit spot on)..

This does not seem to be an issue due to different ABV calculation formulas, but rather because the "Projected ABV" field takes the yeast attenuation in consideration. Try setting your yeast attenuation (in your recipe) to 100%, and the fields will

[2018-01-31 20:59] pricelessbrewing commented on #398
If that is the case, it seems like an error in the formulation. They should
match right?

Do we need both fields?

[2018-02-01 08:39] jonte commented on #398
@pricelessbrewing I'm not sure I understand. The calculated values should not match, since one is for ABV estimated from OG, FG and yeast attenuation, while the other ("ABV") doesn't take attenuation into account.

Maybe we should rename "ABV" -> "Fully attenuated ABV" ?

[2018-02-01 14:05] jawsdaws commented on #398
So this is the way I understand it.

For the main window ABV, the variables are the recipe's projected OG and the recipe's yeast attenuation %.

Brew notes "Projected ABV", the variables are the actual recorded OG in the postboil brew notes and the recipe's yeast attenuation %.

Brew notes "ABV", the variables are the actual recorded OG in the postboil brew notes and the actual recorded FG in post

[2018-02-03 15:36] malavv commented on #397
You can use any new version of Qt Creator. You can select the right Qt Library in your project configuration page.

[2018-02-03 17:59] pricelessbrewing commented on #397
Progress is being make.

Haven't tried qt creator yet, just cmake since that's what is outlined in the wiki page for brewtarget... It configures now, but on generate I get an error of.

<details>
  <summary>CMake Warning (dev) in src/CMakeLists.txt: etc etc</summary>
  CMake Warning (dev) in src/CMakeLists.txt:
  Policy CMP0071 is not set: Let AUTOMOC and AUTOUIC process GENERATED files.
  Run "cm

[2018-02-03 18:49] pricelessbrewing commented on #398
I second tooltips, because if we don't understand what's going on, the users definitely are not.

I would additionally suggest changing brewnotes "ABV" to something like "measured ABV".

[2018-02-03 19:06] malavv commented on #397
I think I might need a bit more information to solve your issue.

I am assuming you did the following.
1. Created an empty build directory.
2. Opened Qt's Mingw console to the build directory.
3. Ran
[code]
4. This has given your the automoc warning, which you have correctly disregarded.
5. Still in the same directory, and still in Qt's mingw console, you ran "make"?

[2018-02-03 20:05] pricelessbrewing commented on #397
Sorry this is all new to me, so I'm just trying to following the wiki page as best I can.

When I open the qt mingw console (QT 5.6 for desktop (MinGW 4.9.2 32 bit) to my "D:\Software\BrewtargetBuild" directory, and run

I get

<details>
  <summary>CmakeError.log</summary>
Compiling the C compiler identification source file "CMakeCCompilerId.c" failed.
Compiler: C:/MinGW/bin/gcc.exe
Build flags:
I

[2018-02-08 12:02] jonte commented on #398
Re: tooltips, there are actually tooltips for these fields. They're in the lower left corner of the BrewTarget window. in PR #400 I tried to make the use of the fields a bit clearer by improving the tooltips.

[2018-02-14 20:38] dpettersson commented on #398
@rocketman768 , @mikfire  What do you think?

[2018-02-15 04:05] rocketman768 commented on #398
Approved #401. Thanks for the discussion and pull requests guys :)

[2018-03-05 23:44] pricelessbrewing opened #403 "Brew it / generate brew notes"
Soooo I didn't even know this existed and I've been using brewtarget for awhile. @mikfire

I'm going to suggest making one of these tabs visible at all times, and that the "date" text field change the name of the tab? Or maybe change the tab name from a date to a sequential number system, so brew 1, brew 2 etc? That would make it more visible IMO.

[2018-03-07 03:05] bdleedy commented on #125
Can't this be done manually? It's seemingly taking 2+ years to update this AND the BJCP hasn't been updated in that time so creating a script to do this once seems like a bit of a waste. Is it just cracking the SQLite and entering the data (and adding new fields/columns)? It would also be nice to either change category_number to something that sorts better or to add a leading zero. Give me directi

[2018-03-08 17:59] bdleedy commented on #125
OK, so after looking at this, I have a better understanding of most things.

1. Definitely need new columns. I would even say go for broke and new use two new tables, style_cat to hold the main category and data and style_subcat with FK to style_cat. It LOOKS like there was an odd attempt at this with style_children? This route definitely makes an upgrade more challenging but seemingly doable. I'm

[2018-03-08 21:43] bdleedy commented on #125
I manually created/modified tables. Created style_category, deleted style_children, renamed style to style_subcategory. I then wrote a C# .NET to rip the XML and dump it into the new fields. Worked perfect.

SO. Now comes the automation of all of that. Grab old data, create/modify tables, return old data, import new data. Apparently in Python? I'd rather not learn Python but I am willing to do all

[2018-03-09 14:50] pricelessbrewing commented on #125
Not sure if it's in a useable format for brewtarget, but https://github.com/beerjson/beerjson/blob/master/tests/styles/bjcp_styleguide-2015.json might be of assistance.

[2018-03-09 21:00] bdleedy commented on #125
I took one look at it, YES. Formatted much better.

Changing the database is turning into quite the sprawl. Edit here, edit there, create new here.....

[2018-03-17 20:26] malavv commented on #397
Hi @pricelessbrewing
Thanks for the bump. Looking back at your error log, I see something suspicious.

If your qt's mingw installation is there `C:\Qt\Qt5.6.0\5.6\mingw49_32` as per your CMAKE_PREFIX_PATH, than the GCC indentification file should be in the same parent directory. ie. probably `C:\Qt\Qt5.6.0\5.6\mingw49_32\bin\gcc.exe`

Yours however was found here `C:/MinGW/bin/gcc.exe`. My suspici

[2018-03-18 20:21] Scimmia22 commented on #271
At this point, skipping 2.4 and going straight to 2.5 or what?

[2018-03-21 21:42] malavv commented on #397
Okay @pricelessbrewing

Prepare yourself for a wall of text. As mentioned in our private communication, this will be a complete and detailed instruction to build Brewtarget on Windows. From a clean Windows installation, to a working Brewtarget build.

I followed the instruction on Building for Windows, and they seem to work. Here is a detailed explanation of what I did. I will following this with

[2018-03-21 22:17] pricelessbrewing commented on #397
Thank you very much. I'll try that out on Friday.

On Mar 21, 2018 5:42 PM, "Maxime Lavigne (malavv)" <notifications@github.com>
wrote:

[2018-03-22 15:30] pricelessbrewing commented on #397
Got it! Thanks for the walk through!

[2018-03-22 15:30] #397 closed

[2018-03-22 15:31] pricelessbrewing commented on #397
Noticed the database didn't migrate and had to be restored manually, despite being in the data folder. Is that normal?

[2018-03-22 16:25] pricelessbrewing commented on #204
Finally got 2.4.0 to build!

More on Mash Designer. It initially started as just a feature request and a bug, but kept growing so figured this might be a better place rather than opening new issues?

I love that it shows the mash thickness on the right in the designer, but as soon as you touch the sliders the labels go away for thickness and volume, can we make those persistent?

I think it would

[2018-03-22 16:40] malavv commented on #397
Glad to hear! I might use this to update some of the wiki instructions.

This method does not give you the same Brewtarget as if you would have installed it. Therefore, there are a few items performed during installation which won't happen. (ex. db migration, and creation of the data folder if missing)

Btw, be wary that using a "custom build" on your brewing database might break it, so please nev

[2018-03-22 17:24] kapinga commented on #204
I very much agree that some additional improvements should be made to the MashDesigner. In particular, users should have the option to manually enter any of the values and have everything else recalculate. It's on my todo list, but I'm not able to dedicate very much time to this project (and a novice in contributing to open source projects), so I'm happy if someone else gets it done instead.

I al

[2018-03-23 01:57] pricelessbrewing commented on #204
Thanks @kapinga I just built from the main (develop) branch yesterday though. Is there a more up to date develop branch that I'm not aware of? I see PR #382  is still waiting to be merged, so it's possible that it is fixed, but still awaiting review.

Mine is set to US traditional as well. It appears to be fixed now, so it appears closing and re-opening brewtarget fixes this, so it should be label

[2018-03-23 16:46] pricelessbrewing opened #404 "Specific heat label fix (cal/(g*K)) to (Cal/(g*K))"
According to the brewtargets typical values for specific heat (0.12 for aluminum), this should be labelled as a function of Cal, not cal. Otherwise aluminum would have a typical value of 0.00012.

I'll take this on as my first commit. Should be pretty straight forward, change to equipment UI, and manual, no changes to formulas or anything.

[2018-03-24 07:19] #94 closed

[2018-03-24 07:58] dpettersson commented on #404
Assigning to @pricelessbrewing. Looking forward to reviewing :)

[2018-03-24 07:59] dpettersson commented on #398
Pullrequest merged. Closing this issue.

[2018-03-24 07:59] #398 closed

[2018-03-24 08:04] dpettersson commented on #394
There is already a notes field in the tab when you select "brew it". Isn't that what you are looking for or am i getting it wrong?

[2018-03-24 22:40] pricelessbrewing commented on #404
Going with (Cal/(g*C)) since deltas in C and K are equivalent, and the Kelvin scale is not a supported temperature system. Moreover it is then equivalent with the standard in most software I'm aware of, which might be easier in the event that specific heat for equipment is ever part of the BeerXML/BeerJSON standard.

[2018-03-25 23:49] jawsdaws commented on #394
I do use the "brew it" notes now as a workaround, but I thought it would be nice to have just a note so that the unused recipe data/ui is not in the way.  This is a very rough estimate of what I was thinking.

![screenshot from 2018-03-25 19-36-11](https://user-images.githubusercontent.com/3501812/37881369-0cc3bb4a-3065-11e8-87e6-ad9d02f4aa02.png)

[2018-04-07 09:40] #404 closed

[2018-04-07 14:31] pricelessbrewing commented on #386
Worth noting that I added this to the BeerJSON recipe schema for mash steps, fermentation steps, and final beer pH in the recipe overview near the OG/FG/ABV section.

https://github.com/beerjson/beerjson

[2018-04-07 14:34] pricelessbrewing commented on #368
Worth noting that BeerJSON recipe schema supports kettle souring, sour mashing, and other forms of wort souring as a mash step option (like infusion, decoction, etc) with additional properties of initial pH, and final pH.

https://github.com/beerjson/beerjson

[2018-04-29 10:31] MedicMomcilo opened #407 "Yeast inventory unit locked to kg"
When using "Amount is weight" for yeast, inventory units are locked to kilograms.
This wouldn't be that big of an issue, but this field also doesn't support decimals making it unusable.
Even manually specifying units (e.g. grams) is removed from the field and value is reset to 0.

This has been tested against develop branch.

Please let me know if I can provide more information.

[2018-05-01 20:58] MedicMomcilo commented on #396
I can confirm this behaviour, it seems like inventory doesn't update.
Tested also by setting default amount to a value and adding it to a recipe.

No matter what, I couldn't change amount of ingredients in the inventory via Brew It!.
With this, inventory function can't be used.

Tested against develop branch.

Please let me know if there is anything I can help with.

[2018-05-03 18:18] jonte commented on #407
Hi @MedicMomcilo,

I'm trying to replicate this to see if I could fix it, but I can't seem to replicate the issue.. Can you please provide a picture? Could you also describe your steps in detail (so I can replicate exactly your keystrokes/clicks)?

This is how it looks on my side in the yeast inventory. I created a new yeast, checked the "Amount is weight" checkbox, and set the weight to 10.5g.

!

[2018-05-03 21:26] MedicMomcilo commented on #407
Hi @jonte

I am sorry, now that I re-read what I explained it really isn't clear.
Specifically, I am talking about "Quanta in Inventory" field, not the "Default Amount" field.

Try setting some values there and you should quickly see what I'm getting at.

Let's say you have 50g of Yeast and you want to track its usage.
You enter "50" in Quanta in Inventory, hit OK and it gets translated to 50 kg.

[2018-05-05 14:59] jonte commented on #407
Hi,

Ah, now I see the issue. Thanks for explaining it. The way I am reading the "Quanta in inventory" field is "Number of packages in inventory", where a packet could be assumed to be either a dry yeast satchel or a liquid yeast vial (depending on whether this is a dry yeast or not).

I suppose this is not very useful at all when you're cultivating your own yeasts, in which case you may have non-

[2018-05-06 12:36] MedicMomcilo commented on #407
Hi @jonte

Unfortunately, it doesn't use packets as units as well.
You can confirm this by trying to do a printout of inventory.

You would see that is's noted as 50 kg.

And, since inventory deducting isn't working, there is no actual way to do a test and confirm.

If it were using packets, workaround would be simple: define size of a packet as 1 unit (g, ml, ...) and just add as many to inventor

[2018-05-28 22:30] pricelessbrewing commented on #289
Coming up on 2 years now since 2.4 was branched. What's the status? Is there something holding up the release, new features or just bug testing? Any chance of starting a project board for what needs to be done before release, and/or what is being developed for the next release?

[2018-05-30 15:38] zephrax opened #409 "Doesn't build using cmake 3.x"
It cannot build using cmake 3.x

As far as I searched on the internet, the QT5_USE_MODULES routine is obsolete and seems to be deprecated in that version.

Reference:  https://doc.qt.io/qt-5/cmake-manual.html

CMake version: cmake version 3.11.2
My build output log:

-- The C compiler identification is GNU 8.1.0
-- The CXX compiler identification is GNU 8.1.0
-- Check for working C compiler: /usr/

[2018-06-03 07:11] dpettersson commented on #289
I think that we need to ask @rocketman768 and @mikfire about the state of the release.
I really dont have a complete overview of it.

[2018-06-03 07:17] dpettersson commented on #409
Strangely enough it builds for me (using cmake 3.5.1)

[2018-06-06 01:27] david-geiger commented on #409
This build issue come from new Qt5 5.11 not from cmake. Upstream now removed the QT5_USE_MODULES function.

[2018-06-07 23:15] pricelessbrewing opened #410 "Yeast attenuation min-max"
Right now brewtarget only shows 1 attenuation value, which is neither the min, max, or the average of those two.

I believe the reasoning is due to the attenuation and abv formula used by brewtarget, we do not apply any expected attenuation onto a recipe due to the mash schedule, so any expected attenuation for a recipe is solely due to the yeast attenuation and OG.

Additionally, it does not appe

[2018-06-07 23:31] pricelessbrewing commented on #344
Coming back to this, brewers friend treats the maximum attenuation somewhere around 149F from what I can tell. Beersmith default is I believe 148F IIRC, but the slope is changeable in a software wide settings somewhere, so he applies the same slope to all yeasts and recipes, which doesn't make sense IMO.

If I push a patch through for this, it'll be toggleable as an option in tools/options, follow

[2018-06-07 23:37] pricelessbrewing commented on #403
Alternatively, have that as a button along the toolbar?

Honestly I couldn't figure out where this was again today and had to go look on the issue Mikfire wrote out on beerjson repo...

[2018-06-15 16:20] pricelessbrewing opened #411 "Fermentable database use of Supplier and adjunct property is inconsistent"
None of the weyerman, rahr, or simpson ingredients have a supplier property (they're empty). Briess is inconsistent, some are listed as briess via supplier, some are only included in name but not in supplier.

Additionally many proprietary names such as carafoam (weyermann) is listed twice, once via weyermann - carafoam, and another as carafoam. Redudant since this a proprietary name, there won't

[2018-07-07 19:09] trinkner opened #412 "Mash Designer Temperature Bugs"
In version 2.3.1, using the Mash Designer to create a mash schedule calculates temperatures that are far too high. I'm running Ubuntu 18.04, and saw exactly the same bugs on Windows 10.

To reproduce:

Set preferences to US Imperial units and Fahrenheit.
Create new recipe.
Add fermentables, hops, etc.
Click on Mash tab.
Click on Mash Des button.
I entered 75 for the initial equipment temperature.

[2018-07-07 19:33] pricelessbrewing commented on #412
I believe this is fixed in 2.4, not getting the issue on my build.

Related:
https://github.com/Brewtarget/brewtarget/issues/283
https://github.com/Brewtarget/brewtarget/issues/279

https://github.com/Brewtarget/brewtarget/pull/297

[2018-07-09 12:47] padraic7a commented on #235
I know this is an old question but I wonder if there are any apks files available for the Android version? I would love to see how different it might look.

[2018-07-14 02:02] pricelessbrewing commented on #412
Don't know. @rocketman768, what's the status #289 ? Is there anything specific we're waiting on? Any testing I can help with?

[2018-07-16 11:39] marcelobarrosalmeida opened #414 "Adding IBU calculation for whirlpool - request for comments in code and strategy"
Hello

After starting making NEIPAs, it was required to calculate the IBU from late hoppings, I mean, hops added during whirlpool, in flameout. I saw that beersmith calculates these hop additions but it is used a rough approximation where an utilization factor is applied. So I decided to implement the strategy described [in this article](https://alchemyoverlord.wordpress.com/2015/05/12/a-modified-

[2018-07-16 12:36] pricelessbrewing commented on #414
If we're going to do this, then I think a variable for whirlpool temperature should be included.

As well as a couple user variables to adjust the utilization curve.

Whirlpool utilization at 85C, and temperature of zero hop utilization.

Continue isomerization of boil hop additions during the whirlpool.

[2018-07-16 16:19] marcelobarrosalmeida commented on #414
Hi Pricelessbrewing

Of course we ned to discuss how to create this feature, it was the original idea to create this issue. However, for flameout/whirlpool technique, people just turn the heating element off after boiling and wait sometime. During this time, hops continue to contribute to bitterness. In general, they do not use  ramps.

But, time and temperature are related in whirlpool. We can sp

[2018-07-16 16:40] pricelessbrewing commented on #414
Some brewers let it cool to whirlpool temperature naturally by turning the flame off. Some brewers will use their chiller to cool to whirlpool temp then let it cool slowly during the whirlpool. Some brewers with herms/rims will cool then supply a low heat to maintain their whirlpool temp.

Additionally a ramp timer based step could be used to simulate the no chill process.

Super excited about get

[2018-07-17 08:54] marcelobarrosalmeida commented on #414
Ok, so we have three different situations.

Situation 1) natural cooling after flameout (the case developed by me and with math support)
Situation 2) use chiller to cool for other whirlpool temp (needs math support)
Situation 3) ramps (needs math support)

Some practical questions:

Situation 1) I cited a successive update calls after calling equipment editor.  Why ? Is there an  update after chan

[2018-07-17 17:07] marcelobarrosalmeida commented on #414
I believe I found the origin of several updates for IBU calcs. It is called for each property set in EquipmentEditor::save() .

[2018-07-30 19:37] pricelessbrewing commented on #414
This covers the existing brewtarget options well. I didn't review the code in pr #415 , but if it matches the linked articles it should be fine. Is

Correct me if I'm wrong @marcelobarrosalmeida, I believe this currently covers only situations where the whirlpool process is as follows

1. Boil ends
2. Whirlpool begins, and will last for X amount of minutes (as defined in equipment editor).
3. No c

[2018-08-01 01:06] pricelessbrewing commented on #204
So I never got around to learning how the google sheets thing works, but I started working on this as a side project, not sure if I'll end up completing it or not.

What I think of as "cascading" mash steps. If you change a value, it calculates the rest of that row, then cascades now. All maximums and minimums are based on the recipe and equipment profile. So you can't enter a mash infusion of 20

[2018-08-03 03:44] mikfire opened #416 "qt 5.11 breaks fermentables"
qt 5.11 seems to have broken the fermentable table for postgresql. Everything else display correctly, but the FermentableTable is empty, as is the fermentable tree.

I've examined the database, and it all seems good. This is either something at the display layer, or there is an issue with how we are querying teh database. The only thing I see on the console is:
```QPSQLDriver::getResult: Query res

[2018-08-03 04:10] mikfire commented on #416
Ah. Yeah. All the template methods in database.h.

If you comment out all of the ```q.setForwardOnly(true)``` lines in that file then I can see all of my fermentables.

Digging a bit harder, and I see this in the Qt documentation:
[code]

That would probably be a good indication of what is going on, and I think we have gone to great lengths to make sure we have only one database connection. I am n

[2018-08-04 12:32] mikfire opened #417 "Brewnotes don't work any more"
Trying to create a new brewnote throws this error:
[code]

This is caused by
[code]
in brewnote.cpp. The brewnote table in the database does not have a field called "attenuation". I believe this should be
[code]

[2018-08-04 12:48] mikfire commented on #417
It would seem the event that should have added this to the table definition didn't fire? My table version is at 8 and has been at least as far back as 2017-12-27. This update marks database v7, so it looks like the code would have never fired.

This is  likely my problem. Closing the ticket.

[2018-08-04 12:48] #417 closed

[2018-08-06 00:48] pricelessbrewing commented on #417
Tested on latest build, notes and taste notes are both working for me.

[2018-08-06 00:52] pricelessbrewing commented on #10
+1 for be able to rename just "c" when clicking c in the /a/b/c/d example since that's what most people are most familiar with when renaming folders as part of a directory.

[2018-08-06 00:56] pricelessbrewing commented on #158
Tested on latest dev build, looks like it's fixed. Close?

[2018-08-14 23:26] pricelessbrewing commented on #41
Closing as changes to code is not needed. Documentation should be adjusted accordingly before release of 2.4

[2018-08-14 23:26] #41 closed

[2018-08-14 23:34] pricelessbrewing commented on #106
Current workaround would be to use the file/recipe/export to BBcode/html, which can be pasted into the notes section.

@mikfire Did you ever get around to your idea? If not, can you outline it? Maybe another dev will be able to take it up.

[2018-08-14 23:57] pricelessbrewing commented on #135
Instead of a button, shouldn't this be something that is done automatically at the end of either user input, or when dialog is closed? Seems strange that this is an issue.

Can anyone replicate and confirm? I haven't noticed such an issue.

[2018-08-15 00:00] pricelessbrewing commented on #136
Adding to things to test for next release. Maybe include in a troubleshooting FAQ for ubuntu/linux builds unless someone can confirm this is fixed in a newer build of this distro.

[2018-08-15 00:08] pricelessbrewing commented on #179
@mikfire Can you reupload the pictures from your dropbox of the mockups if you still have them?

I really like the idea of using more of the space at the bottom, and/or making the different panes draggable, but this conversation was hard to follow without images.

[2018-08-15 00:09] pricelessbrewing commented on #188
Closing, #322 includes this issue and should be used instead.

[2018-08-15 00:09] #188 closed

[2018-08-15 00:15] pricelessbrewing commented on #243
@mikfire Can we create a label for stuff like this, maybe "solved" or "Reference" or something like that. I'm sure you noticed, but going through and cleaning up open issues atm. Hard to keep track of what's an existing issue when there's also stuff that's "oh, btw".

[2018-08-15 00:28] pricelessbrewing commented on #280
Confirmed issue with a recipe from brewtoad and brewgr. I do suspect this is an issue on their ends though.

Hops did not import correctly, I only got the first hop addition.

Not sure if fermentables went through correctly due to differences in units for potential/yields. Fermentable additions usage "mashed/steeped" did not carry over correctly.

After those were adjusted by hand, OG, IBUs etc li

[2018-08-15 00:48] pricelessbrewing commented on #327
Can't say I followed all of this very well. Would this be in addition to, or in place of, the "brew it" brew sessions function?

My comments would be to remove any automatic creating of child (descendant) recipes and have it behave like the brew it function.

hvae folders of recipes, where you can have version history, but no branches. If you make a branch, you're turning one of the versions into

[2018-08-15 00:59] pricelessbrewing commented on #290
@griffithben Any intention of adding other ingredients to brewerwall? Grains in particular?

I think moving to their yeast database, or at least maping their attenuation min-max to the brewtarget database, then filling in the rest of the blanks (if they exist) manually, would be great. Would necessitate a change in the FG formula, and should account for mash temperature as well in accordance with

[2018-08-15 00:59] #330 closed

[2018-08-15 01:01] pricelessbrewing commented on #330
Closed, hydrometer calibration temp is variable in the "OG correction help" tool.

[2018-08-15 01:03] pricelessbrewing commented on #333
Losing recipes is a pretty important issue, so setting this to bug/high priority.

Those with macs, can you please create backups of your database file, then try to reproduce the error in 2.3 and 2.4?

[2018-08-15 01:08] pricelessbrewing commented on #344
I can fairly quickly recreate the math necessary for this in google sheets, and provide a mockup of what I have in mind for UI, but it'll take me awhile to go through all the code in brewtarget still and figure out what everything does before I can submit a real PR.

To do properly, will require yeast attenuation database change, as previously mentioned. I don't mind doing that work by hand if nec

[2018-08-15 01:11] pricelessbrewing commented on #345
Confirmed still an issue.

Additionally, changes in the fermentables table (circled in bottom right in OPs image) does not update when the unit options are changed and the options window is closed, you have to click something.

[2018-08-15 01:16] pricelessbrewing opened #419 "2.4 creating recipe crashes brewtarget"
Doesn't happen 100% of the time, but crashes reliably when

On the left, switch from recipes to ingredients. Select one.

File>new recipe>put a name in>hit OK.

Should crash. Repeated ~10x with hops, fermentables, and yeast. Works fine when you're in the recipe tap on the left.

[2018-08-15 01:26] pricelessbrewing commented on #371
@dpettersson did you ever get a copy to test?

@mikro2nd  Is this still an issue? I'm able to delete styles just fine in 2.3 and 2.4.

[2018-08-15 01:32] pricelessbrewing commented on #338
I'm still crashing when trying to delete the brewtarget folder of recipes.

[2018-08-15 01:33] pricelessbrewing commented on #340
Confirmed still an issue.

[2018-08-15 01:36] pricelessbrewing commented on #359
So back to the root question, I don't see anywhere "default amount" is added. It's not when you add an ingredient, at least isn't for the tests I just did. When I added a grain, it still added 0 oz, even when the default amount was 15 lbs.

If this isn't used anywhere, we should either remove it, or start using it.

[2018-08-15 01:41] pricelessbrewing commented on #394
There's already a large, resizable note section that will expand as needed based on it's content in the Extras, taste notes and notes section. Going to close this.

[2018-08-15 01:41] #394 closed

[2018-08-15 01:46] pricelessbrewing commented on #396
Tested, confirmed still an issue in dev branch.

No changes to creating new recipes, adding ingredients, and creating brew session via brew it! seemed to cause any change in fermentable inventory.

Confirmed working for hops, and yeast. Although inventory for yeast is a bit strange how inventory is handled as an integer and isn't typed according to form.

[2018-08-15 01:48] pricelessbrewing commented on #412
@trinkner I'm going to close this as the issue in question has been patched. Questions regarding the release schedule will depend on when the open bug issues and any relevent features get completed, and should be directed at #289

[2018-08-15 01:48] #412 closed

[2018-08-15 01:55] pricelessbrewing commented on #258
Agreed with @kapinga This looks fine to me, although I think the html window that opens up should be set to a larger size. It was ~3" by 3" on my monitor and had no button to maximize to screen.

[2018-08-15 01:59] #409 closed

[2018-08-15 02:02] pricelessbrewing commented on #381
Closing due to duplicate, see #236.

[2018-08-15 02:02] #381 closed

[2018-08-15 02:04] pricelessbrewing commented on #375
Going to close this. Been a year, and information was resolved. @ryho if further help is warranted, please reopen issue.

[2018-08-15 02:04] #375 closed

[2018-08-15 02:07] pricelessbrewing commented on #373
Looks like we're having quite a few database issues on mac build. If there are any devs available to do thorough testing on a mac build to try and reproduce these errors on 2.3 first, then against dev build to find out if it's been fixed or if it needs to be fixed before release. #333

[2018-08-15 02:13] pricelessbrewing commented on #366
@kapinga I think until we have more information on what MCU is supposed to use, some brief research shows it should probably be lovibond used in the fermentable database and the unit labels changed accordingly. I think it's better to be up front, and be wrong (potentially), then to misslabel the units we're using.

fermentables: lovibond

Beer color: srm.

[2018-08-15 02:14] pricelessbrewing commented on #357
Also confirmed on latest dev build. Closing issue.

[2018-08-15 02:14] #357 closed

[2018-08-15 02:15] pricelessbrewing commented on #322
@mordante Still up to doing this?

[2018-08-15 02:36] pricelessbrewing commented on #386
If this is added at any point, it should be clear that it's either the step pH (mash/fermentation), or final beer pH.

[2018-08-15 02:47] pricelessbrewing commented on #252
Setting this as low priority, should be dont after the next release is possible.

Aj Delange has recently developed a new method of estimated mash pH that is very accurate and promising, the current discussion for this is at https://www.homebrewtalk.com/forum/threads/a-thought-experiment-to-test-the-general-validity-of-available-mash-ph-software.652095/page-9

I have a copy of his spreadsheet, and

[2018-08-15 02:57] pricelessbrewing commented on #410
Going to close this, and keep #344 as the open issue.

[2018-08-15 02:57] #410 closed

[2018-08-15 09:06] padraic7a commented on #368
Hi Mark,

thanks for the info. I must check out beerjson. This is off topic now but I wonder if you could tell me where the best place to keep track of Brewtartget development is?  From the activity here on github I wouldn't have guessed that there is an upcoming release.

[2018-08-15 09:43] mikro2nd commented on #371
Still appears to be an issue for me (BT 2.3.0). I am trying to delete the renamed styles from the **styles tab** (select style from list, right-click, select "Delete", "Yes" in confirm dialogue) and **not** from the Styles Editor. When accessing the styles via the Styles Editor window, no duplicates show up.

I *think* I sent the db again, but it's a long time ago... let me know if you want me to

[2018-08-15 13:37] pricelessbrewing commented on #368
Not sure when it'll be, i suppose pending was the wrong word. Next release. I think if we can get the current pull requests approved, and close the bugs and few issues in the to-do column of the project board then I think we would be ready for testing of a new release but I can't speak for the main dev group.

[2018-08-15 13:58] pricelessbrewing commented on #366
Additionally, malsters always provide their color information in lovibond, not srm.

[2018-08-15 15:49] creativecoder commented on #333
I retried the steps I listed previously

Looks like the issue is fixed. I am now getting the expected result: my changes are not saved but all previous data is still there.

[2018-08-15 15:57] pricelessbrewing commented on #193
Some things I would like to see changed in the UI at some point.

Left pane ingredients:
Should be able to add or remove any columns that an ingredient can have, so that you can sort for hops you have in inventory, or hops that have high amounts of humulene etc. Similar for grains, Would like to sort by diastatic power, inventory, or yield.

Similar with ingredients database windows (ctrl+H for ho

[2018-08-15 15:58] pricelessbrewing commented on #333
Thanks @creativecoder I'm going to leave this open for a little while longer. Would like multiple confirmations against 2.3 and dev branch (pending 2.4 release) since it looked like there was multiple issues with the mac build.

[2018-08-17 01:59] anderwm opened #420 "Old recipe crashes Brewtarget"
I have a database with old recipes from much earlier versions of brewtarget. When I restore the database and double click on those recipes Brewtarget crashes immediately. Anybody seen this?

[2018-08-17 13:09] anderwm commented on #420
I'm not sure exactly how old, I've used Brewtarget for about 5 years. But I brewed this recipe this year and I usually add to the brewnotes each time. I tried exporting and importing and it still crashes on import (terminate called without an active exception). XML looks clean, see what you think when you recover from your sampling. I had to change the extension to get it to upload.
[germanPils.tx

[2018-08-17 13:31] jawsdaws commented on #420
I gave your XML a try and I get a crash too. I get this error.

'QObject::connect: No such slot MashDesigner::typeChanged(int) in MashDesigner.cpp:65'
'QObject::connect:  (sender name:   'comboBox_type')'
'QObject::connect:  (receiver name: 'mashDesigner')'
'terminate called without an active exception'
'Aborted (core dumped)'

 I can't really look any further into until next week though... I have

[2018-08-17 13:38] anderwm commented on #420
No rush on my end, I have all the information from the recipe...just a bug

[2018-08-19 20:54] pricelessbrewing commented on #414
@marcelobarrosalmeida  I see you closed #418, can you give a quick status update when you get a chance?

[2018-08-21 04:38] jawsdaws commented on #420
This appears to be a bug from when you exported.  Do you know what version you used to do the export?  I tried to replicate this with a 2.4.0 build from git, but I could not replicate a bad XML export.  That said, database.cpp calls `throw;` without a log of any kind in quite a few different places.  That's not ideal when importing who knows what in an XML.  Some better error handling would be ver

[2018-08-21 13:14] anderwm commented on #420
Who knows what version, I build from source and update randomly whenever the mood strikes. Probably not important what the XML error is but I just expected it would get caught somewhere and not crash the Main. Thanks for looking at it.

[2018-08-21 14:53] jawsdaws commented on #420
Agree.  I'll start a new issue and see about making some of the XML error handling more robust. Cheers!

[2018-08-21 14:57] jawsdaws opened #421 "Improve XML import/export error handling."
As stated in #420 , database.cpp calls `throw;` without a log of any kind in quite a few different places in the XML import/export code.  It should be improved to be more robust.  I'll work on it, if you want to assign me.

Edit: This might help with #280 too.

[2018-08-21 15:18] pricelessbrewing commented on #421
Thanks! I've assigned it to you.

For #280 I think an error log would be helpful, but I'm not holding my breath that it will be solved as the error is likely to be on other softwares xml

[2018-08-21 23:28] jawsdaws commented on #421
So apparently everywhere in database.cpp where `throw QString(...);` is called the program will crash with the error message

exceptions from an event handler is not supported in Qt.
You must not let any exception whatsoever propagate through Qt code.
If that is not possible, in Qt 5 you must at least reimplement
QCoreApplication::notify() and catch all exceptions there.

Is this new behavior for

[2018-08-22 14:44] pricelessbrewing commented on #125
Aside from the database mapping or manual entry if it comes to it. @bdleedy Are you still working on this? I

What I think would be great is to have style groups for the different organizations (BJCP 2008, bjcp 2015, GABF, Brewers association, etc). Then the style editor window should be outlined similar to the ingredients, where the style letter and category number are easily visible and sortable

[2018-08-22 15:02] pricelessbrewing commented on #371
Testing in 2.3. After restoring db to your file, and merging my db with your db I get the same message. Unable to delete any style entry, or the entire style folder.

"WARNING: deleteSelected:: unknown type: 7"

Testing in 2.4

Works fine after restoring db to your file, or merging db together.

Recommendation: If you're unable to build a new one, I would recommend opening the sq.lite file with an

[2018-08-22 15:12] bdleedy commented on #125
I am not.

(Sent from my iPhone)

On Aug 22, 2018, at 10:44 AM, Mark Price <notifications@github.com> wrote:

Aside from the database mapping or manual entry if it comes to it. @bdleedy Are you still working on this? I

What I think would be great is to have style groups for the different organizations (BJCP 2008, bjcp 2015, GABF, Brewers association, etc). Then the style editor window should be o

[2018-08-23 09:20] theinterwebthingy opened #422 "Compile error in MashWizard.cpp"
When compiling the develop branch it fails on  MashWizard.cpp as per attached error.

[brewtarget_error.txt](https://github.com/Brewtarget/brewtarget/files/2313729/brewtarget_error.txt)

Adding QButtonGroup to the include section as per below fixes it

``brewtarget]$ git diff develop MashWizard
diff --git a/src/MashWizard.cpp b/src/MashWizard.cpp
index 31acda9..902d670 100644
--- a/src/MashWizard.

[2018-09-23 17:18] #422 closed, assigned to nobody

[2018-09-23 18:31] pricelessbrewing commented on #419
Not really. Built from latest dev brach at the time. Will try it again.

Note on Windows 10.

[2018-09-23 18:32] dpettersson commented on #419
I tested with 2.4 in linux

Den 23 sep. 2018 20:31 skrev "Mark Price" <notifications@github.com>:

Not really. Built from latest dev brach at the time. Will try it again.

Note on Windows 10.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https://github.com/Brewtarget/brewtarget/issues/419#issuecomment-423837169>,
or mute the thread
<https://gith

[2018-09-25 02:28] pricelessbrewing commented on #419
No longer getting this issue on latest build. Closing issue.

[2018-09-25 02:28] #419 closed

[2018-09-25 02:41] pricelessbrewing opened #427 "Isolating process steps"
So along the lines of #204, and in the idea of increasing support for process steps, will also correspondingly need to add support for more variable ingredient timing of additions.

ie Add dry hops at fermentation step XXX

ie grains at mash step XX (late grain additions, reiterative mashing etc).

ie add bacteria or brett at fermentation step XX

ie add bacteria at mash step XX for souring wort.

[2018-09-25 02:54] pricelessbrewing commented on #427
1) Boil: Have a user input for boil length, and temperature.

Will clean equipment profile ( I'm not a fan of tying equipment and processes' together).

Will allow for pasteurization steps which are fairly common in sour/funky/farmhouse brewing as well as raw ales where the wort is not boiled.

2) Whirlpool/chilling.

With more and more hop additions moving to sub boiling temps, this is becoming m

[2018-09-30 16:18] pricelessbrewing commented on #158
@dpettersson can you test this on linux and see if it's an issue for you?

[2018-09-30 16:28] pricelessbrewing opened #428 "Lovibond as color unit option"
Lovibond, or Lovi for short, is the industry standard in the US for malt color specification. Should be an option for unit type.

Of note is that SRM is defined by how much light is absorbed when passing through a specific distance of beer/liquid (1 cm IIRC), so it shouldn't be applicable to fermentables.

Although you could make the argument that they're analogous if a beer is the same color as a

[2018-09-30 20:02] dpettersson commented on #158
Sure, i can test it.
But i saw something earlier. The develop branch has (compared to 2.4)  141 more commits and there are 2 that doesn't exist in develop that are in 2.4. Maybe we should merge develop into 2.4 (or vice versa). It would give a great boost to the functionality if we could do something like that.

[2018-10-01 02:07] pricelessbrewing commented on #125
I'm going to try and take this on. No promises, but I think I've figured out how to map the files from https://github.com/beerjson/beerjson/tree/master/tests/styles back into beerxml, at which point I can either pass it off to someone to mass add them to the brewtarget db, or else I can import them one by one if necessary.

[2018-10-02 18:50] dpettersson commented on #158
It seems to work for me.
I tested it like this:
I moved the sqlite-db and started the program. It looked OK.

[2018-10-02 19:37] #340 closed

[2018-10-02 19:40] #276 closed

[2018-10-04 20:37] dpettersson commented on #345
I have located the line that needs to be changed, but i am having trouble finding a good way to determine the current unit. It can be found in QVariant BtTreeItem::dataFermentable(int column)

A working solution is
 //default to SRM
double currentColor = ferm->color_srm();

if (Brewtarget::getColorUnit() == Unit::displayEbc)
{
    EBCUnit u;
    currentColor = u.fromSI(currentColor);
}
return QVar

[2018-10-06 07:46] #396 closed

[2018-10-07 17:03] #345 closed

[2018-10-11 19:01] jawsdaws opened #434 "High DPI Display problems"
![brewtargethdpi](https://user-images.githubusercontent.com/3501812/46827224-18b9fb00-cd66-11e8-968c-170ce391eb7f.png)
On my new HDPI (to me anyways) display there are some strange artifacts and general weirdness.  I've worked on some fixes.  They are at https://github.com/jawsdaws/brewtarget if anyone wants to take a look.  There's more to do though before I have a merge ready.

[2018-10-11 19:07] jawsdaws commented on #421
If there is no feedback for now, I'll submit a merge request soon for some fixes for the files in #280 and #420.  There will still most likely be bugs if other xml files are nonstandard in some way.

[2018-10-11 19:19] dpettersson commented on #421
Please do. :)

[2018-10-12 11:56] jawsdaws commented on #434
There looks to be an easy fix.  I'm going to do more testing over the weekend, and next week.  You can assign this one to me if you like.

[2018-10-15 00:59] jhmcstanton commented on #359
I'm interested in picking this up.

If its decided to just remove it, is it just a matter of removing the field from the UI files? Likewise, if we decide to use it where should that change be made?

[2018-10-15 01:45] jhmcstanton commented on #359
Went ahead and implemented the removal change, see commit 8cef99c above. If that isn't the desired change please let me know.

[2018-10-15 13:47] jawsdaws commented on #359
From my testing, default amount is used when you double click an ingredient to add it to a recipe.  It seems to work on develop.  That said, I vote for taking it out.  It's seldom right and you always need to double check that its right when it does hit.

[2018-10-15 21:42] jawsdaws opened #436 "Deleting fermentable from recipe causes a crash."
Deleting fermentable from recipe causes a crash.  I bet this has something to do with 8cef99cb1d40e4432a9934423d1df38607a87f27

![screenshot from 2018-10-15 17-35-50](https://user-images.githubusercontent.com/3501812/46980114-9604a900-d0a1-11e8-8817-f905b6ef1f06.png)
[code]

[2018-10-15 22:09] pricelessbrewing commented on #436
#435

[2018-10-15 22:14] pricelessbrewing commented on #359
I do see that it's working now, IDK why this wasn't working at the time. If it's working as intended, lets just leave it for now. Low priority.

In the long term, I'd rather this work as a global setting, like "default amounts: Grain 1 lb, hops, 1 oz, yeast 200mL" something like that.

[2018-10-15 23:45] pricelessbrewing commented on #125
https://github.com/couchguy/BJCP-Style-Guide-to-BeerXML/blob/master/2018styles.xml

Found this, appears to be formatted correctly! @dpettersson Should I just add these styles to my db manually then submit a PR with an updated db or is there a quicker way?

[2018-10-16 13:55] jhmcstanton commented on #359
I'm more than happy to investigate the crash in #436 if we decide to remove the amount. If not, we can close the PR whenever.

[2018-10-17 13:14] jawsdaws commented on #436
This doesn't have anything to do with #435 .  I haven't pulled those changes yet.

[2018-11-28 19:10] jawsdaws commented on #421
This can be closed now.

[2018-11-28 21:05] #421 closed

[2018-11-29 19:50] jawsdaws commented on #434
I have some code for quite a few fixes here, but I'm not done.  I would like to get some help testing to make sure I'm on the right path.  I only have Linux available to test on so Mac and Windows help is needed.  Not sure the best way to get help on this though.  Maybe just merge the changes and see if it breaks?  I guess also if you see this and can help, checkout [https://github.com/jawsdaws/br

[2018-11-30 16:36] jawsdaws commented on #259
I've made some changes to help with this problem over in [https://github.com/jawsdaws/brewtarget/tree/HiDPI](https://github.com/jawsdaws/brewtarget/tree/HiDPI)  Activating HiDPI awareness is unreliable for me, so I've been using the DPI number to calculate the size of things that need changes.  I only have Linux to test on.  It would be awesome if anyone is willing and able to test that branchon M

[2018-12-07 01:10] dvictori commented on #236
Any update on this issue? What would be the easiest way to install the latest BrewTarget on Ubuntu? PPA? .deb?  Docker? Snap?

[2018-12-07 13:22] jawsdaws commented on #236
Unfortunately, there isn't a lot of activity on this project right now.  Your best bet to get the latest is going to be to build it yourself from the github repo, develop branch. The instructions are in the readme file.

[2018-12-08 23:59] dvictori commented on #236
It's a pity because it's a great software and a good options for us brewers running Linux

[2019-01-09 16:30] karthil commented on #41
I attempted to follow the directions to match up with brew in a bag but couldn't find the exact settings mentioned in the description. Are they perhaps outdated it just not quite accurate?  Thanks!

[2019-01-09 17:14] pricelessbrewing commented on #41
@karthil

What version of brewtarget are you using? And what brewing process type are you performing, brew in a bag full volume / no sparge?

[2019-01-09 17:38] karthil commented on #41
Hi Mark,
I'm performing full volume, brew in a bag brewing (with no sparge).  And
I'm using version 2.3.0.

Thanks!

On Wed, Jan 9, 2019 at 9:27 AM Mark Price <notifications@github.com> wrote:

[2019-01-09 23:50] bcbnz commented on #436
Looks like this is my fault. It works fine in c93bf1f, but not in eaf3d01 which is where PR #432 was merged in. The [diff between these commits](https://github.com/Brewtarget/brewtarget/compare/c93bf1f..eaf3d01) is rather small, and I can't see anything obvious which would be causing this. Admittedly I am completely unfamiliar with the workings of the database code.

Note that the delete works for

[2019-01-10 16:52] pricelessbrewing commented on #41
Alright here's a complete guide to setting up brew in a bag, no sparge / full volume single vessel (brew kettle, no mashtun).

Equipment Profile:
Set mashtun mass and specific heat to zero. Set Lauter deadspace to zero.
In the Boiling & water section, change the grain absorption rate (qt/lb) to around 0.32 qt/lb.

Using the mash designer:
Type = Infusion
Set target temp
Set time

Using the slider,

[2019-01-14 16:50] karthil commented on #41
Thanks a lot, Mark.  Everything's clear until the mash designer step.  When
you mention moving the slider, are you referring to the "Infusion/Decoction
Amount"?  If so, I can never get the total collected wort to reach 100%.  I
presume it's related to the fact that the min value on the slider is
2.802qt while the max is -1.299 gal (yes, negative).  Thoughts on what
might be misconfigured there?  I

[2019-01-15 17:50] Wyrmwood commented on #125
Thanks for the link! Updated mine manually by truncating styles, then loading that file (sorted with python and umlauts removed). It exits the app when you import it, but it appears to work fine after doing a restore.

[2019-01-15 18:02] pricelessbrewing commented on #125
@wyrmwood can you submit a PR with the updated styles then? I never got around to doing it manually.

[2019-01-15 18:06] Wyrmwood commented on #125
Well, I removed the 2008 styles from mine...

[2019-01-15 18:08] pricelessbrewing commented on #125
Gotcha. Well could you make a fork, or upload your db somewhere  like Dropbox  or something then I can just merge the two db.

[2019-01-15 20:44] Wyrmwood commented on #125
Just noticed this cuts off at Spice, Herb or Vegetable Beer. That must be where it exited the app on import.

[2019-01-15 20:47] Wyrmwood commented on #125
[database.zip](https://github.com/Brewtarget/brewtarget/files/2761393/database.zip)
I just split the xml into two and it let me import both without exiting.

[2019-01-16 16:32] Wyrmwood commented on #125
Also, that 2015 styles xml file is missing the sub categories for Specialty IPA. (Belgian IPA, Black IPA, etc)

[2019-01-16 16:37] Wyrmwood commented on #125
This would be a lot simpler if the export feature could include styles xml...

[2019-01-17 23:22] Wyrmwood commented on #125
OK. Noticed some issues when I exported, so started over. Here's couchguy's, sorted and converted to utf-8, then imported to the default database, so it shows up after the 2008. Please Note: his is missing the specialty IPAs. After I add those back to mine, I'll post the xml file.
[database.zip](https://github.com/Brewtarget/brewtarget/files/2770969/database.zip)

[2019-01-17 23:32] Wyrmwood commented on #125
[Specialty_IPAs.zip](https://github.com/Brewtarget/brewtarget/files/2770997/Specialty_IPAs.zip)

[2019-01-18 15:42] pbartko opened #438 "Late Addition IBU calc wrong"
In BT 2.3.0, Changing Malt extract from Normal to Late Addition changes the Boil SG, but has not change on the IBU calculated.  IBU should be higher for late addition (lower Boil SG).

[2019-01-18 15:54] pricelessbrewing commented on #438
Issue persists on 2.4.0. However I think this may be more of a problem for documentation rather than what @pbartko intends. There's no mention of "late" or non mashed fermentables in the documentation.

I don't think there's a way to designate a fermentable to be added during the boil currently, which should be remedied asap if it is the case. It will also require a time input to be added to the f

[2019-01-18 16:48] Wyrmwood commented on #125
[2015_styles_ext.zip](https://github.com/Brewtarget/brewtarget/files/2773770/2015_styles_ext.zip)
These are the updated styles (with specialty IPAs), also in utf-8, and sorted. The sorting would not be necessary if the dropdown for styles sorted them. The styles view is sorted and when you add a new style, it is sorted in that view, but will be in db order in the dropdown.

[2019-01-18 16:56] pbartko commented on #438
It is possible I'm using it incorrectly, however using "Late" addition does change the Boil SG.  If Boil SG is changing, then IBU's should change also.

[2019-01-27 20:30] karthil commented on #41
For those curious...make sure you're not an idiot like me...my mash tun
volume was also zeroed out.  Everything looks great once I set it
properly.  Thanks Mark!

On Mon, Jan 14, 2019 at 8:50 AM Christopher Lake <kitlake@gmail.com> wrote:

[2019-01-30 04:19] mikfire commented on #416
Ok. This seems to be a side effect of  #353 . I am curious about that commit.

One of the original design ideas @rocketman768  and I had when we moved to the database model was no cached data -- all reads and writes are done without caching in memory. It seems the referenced commit changed that, but for Fermentables only.

The problem is that we enable forwardOnly() when doing the initial load via

[2019-02-01 02:40] mikfire opened #440 "There is no Q_PROPERTY line in brewnotes for the new attenuation field"
Given how messed up my database is, this has caused me a lot of grief today. It isn't catastrophic, but it needs fixing

[2019-02-01 03:15] jawsdaws commented on #434
Thanks @DRiKE  . I tried that, but it was unreliable.  It appears to work for some display drivers, but not others.  I may be wrong, but that seemed to be the only thing I changed when it stopped working on Ubuntu 18.04.  I've some code to adjust some of the pixel values based on logicalDotsPerInch() and it seems to work and be more robust.  I've just been distracted with other things lately. :-)

[2019-02-24 17:40] EricFries opened #441 "Where is database stored?"
I'm using Brewtarget on OS X, and my database seems to have disappeared.  I am going to try and restore it from a backup, but I'm not sure where to look.  Where is the database stored?

[2019-04-22 20:55] mikfire opened #443 "Modifying grain quantity doesn't cause any of the other fields to recalculate"
If I modify the amount of grain in a recipe, none of the other fields recalculate -- the FG (as an example) remains unchanged. If I close brewtarget and reopen, then the numbers appear to be recalculated properly. Loading a different recipe in the same session doesn't trigger a recalculation.

My guess is that the #353 has resulted in changes in the editor window not properly signalling what's bee

[2019-05-24 02:25] mikfire opened #444 "Importing a recipe is broken"
Import a recipe from XML and everything looks good. Restart brewtarget and suddenly the fermentables go sideways -- no amounts, no yield percentages and no SRM.

[2019-05-26 12:18] padraic7a opened #445 "Import bsmx equipment profiles"
It would be great to be able to import Beersmith equipment profiles.

[2019-05-28 19:28] dpettersson commented on #445
Do you have any examples?
It is easier for us to figure out how it works if we have an example.

[2019-05-29 07:09] padraic7a commented on #445
Sure, I should have thought of that. Coobra is an all in one brewing system a la Grainfather. (It is also available under other names such as the Bulldog Brewer).
They make a Beersmith .bsmx equipment profile available on this page: https://www.olkompaniet.se/coobra-cb3
I am attaching an unzipped file here for convenience, though I had to change teh exension from.bsmx to .txt
[Coobra CB25 1,8 kw.t

[2019-07-02 15:13] mikfire opened #446 "Why does MainWindow create a recipe by poking directly into the Database()?"
I am sure I am responsible for this, but I cannot remember the logic behind it. In my rough estimation, MainWindow() is the view and the Recipe object is both model and controller.

Shouldn't MainWindow() call the Recipe objectclass to create a new Recipe object and have exactly no knowledge of the database?

Oh. And I suspect this may just be a "because we always did it that way". Which is an acc

[2019-07-06 22:23] edupetita commented on #387
My name is Eduardo, I study computer science in Brazil, I am doing an academic work on interface analysis focused on the brewtarget program.
After the heuristic evaluation of the program, several reports of problems with the absence of the Portuguese-Brazilian language were found.
This problem prevents the popularization of software from increasing here in Brazil. I hope someday this can be solved

[2019-10-28 11:17] cgspeck commented on #436
I was wondering if the root cause has been identified or if is any fix for this problem?

I'm also getting the same error when I attempt to delete a fermentable from a recipe, in the console it says:

[code]

I was able to manually clean up my database by running the following script:

[code]

[2019-10-28 12:49] mikfire commented on #436
I'll look. I don't think I've seen that one but I also can't claim to have been looking.

[2019-11-04 00:00] cgspeck commented on #436
This problem has become severe for me. I triggers every time I attempt to remove a fermentable from a recipe.

Is there anything I can do to help diagnose/fix this issue?

Is there any way I can clean or verify the integrity of my database?

[2019-11-04 13:31] jmichalicek commented on #428
I would love to see this. I just asked a related question about this on the google group for Brewtarget. When talking srm and lovibond in the range of actual beer, there's not a ton of difference, but possibly noticeable as the numbers get much above 20.

With dark grains the difference between srm and lovibond is pretty high but I had noticed that Brewtarget seems to assume they are the same. For

[2019-11-05 10:56] cgspeck commented on #436
I had a look into this and made a change to `database.cpp` which essentially runs the SQL I mentioned above and made the application usable for me once more.

I have no idea how this actually interacts with the inventory system. If someone can review it and approve or give feedback that would be great.

[2019-11-05 19:39] #436 closed

[2019-11-22 23:17] zigurana opened #452 "BT 2.3.1: BeerXML output does not contain estimated IBU value"
Ok, so this is probably a stupid question, but why is there not an entry for the (estimated) IBU level of my beer in the exported BeerXML?

As far as I can see, there were no problems for any of the other basic beer parameters (OG, FG, dates, ingredients, etc).

Thanks,

[2020-01-03 09:44] MrHaroldA commented on #289
And here's your kind annual reminder ;)

[2020-01-03 12:14] JulianVolodia commented on #289
Hi @rocketman768 @mikfire  does project died? Or changed to perpetual beta called sometimes go-bananas?

[2020-01-03 12:17] JulianVolodia commented on #452
Could you provide steps? Maybe just lack of feature and could be easily refactored?

Have you tried to debug it?

I ask bc it is great if you contribute in this project!

[2020-01-03 13:56] mikfire commented on #289
The direct answer is that @rocketman768 left me in charge, and that was likely a Bad Idea. The 2.4 release stalled because I have no idea how to handle the translations. It is also stalled because I really suck as a release manager. It is both too close to my day job for me to enjoy it as a hobby, and I really just want to code.

If anybody wants the job of organizing the releases, I am more than

[2020-01-03 14:00] JulianVolodia commented on #289
Hi @mikfire don't worry. I think we all struggle on doing great in work and as open source hobbists. More, I think it was hard to say explicitly above so good job.

As you say you have some daily experience, could you tell us what we could ask you for? How you will see next Brewtarget development as developer of it?

[2020-02-03 03:07] JulianVolodia commented on #373
Hi @pricelessbrewing

Could you reference that other bugs?

Hi @xboxc have you any additional info. Like MacOS version and some any logging output for investigation. Are you using Brewtarget still?

[2020-02-03 03:11] JulianVolodia commented on #9
@rocketman768  what about this? Have you any thoughts how it needs to be done and could leave some tips here? Thanks.

[2020-04-01 03:15] hawesy opened #454 "Printouts are black with dark theme."
My Qt theme is a Breeze-Dark theme with dark grey everywhere. It seems this theme follows into the draw canvas for printouts. Recipes and brewday are both unreadable.

I can work around it by changing my theme before I print, but it might be worth changing the print engine to force a light theme or just ignore the theme completely.

[2020-04-01 03:17] hawesy commented on #454
Brewtarget 2.3.1 on Manjaro. KDE 5.18.

[2020-04-04 21:38] jmichalicek commented on #428
Just read over #366 which I missed before. So it looks like the correct units are being used and all is calculated correctly. The label is just incorrect. That's good to know.

[2020-04-06 23:04] cgspeck opened #455 "Broken unit tests after #453"
Firstly I want to say a massive thank you for your work on this. Brewtarget is the only local brewing software worth using and I use it for all of my brews.

PR #453 appears to have fixed issues where scaling up recipes, and editing quantities in tables were not being saved however it has broken the unit tests:

[code]

My [CI/CD build](https://github.com/cgspeck/brewtarget/runs/560693425) caught

[2020-04-06 23:16] cgspeck opened #456 "CI/CD automated builds"
It would be good to have CI/CD and automated binary builds on PRs and merges.

I suggest the goals of this would be to:
1) automatically build binaries for popular linux targets ~~supported by Docker~~
2) automatically run the tests
3) automatically publish ~~(as [Github releases](https://github.com/cgspeck/brewtarget/releases))~~ passing binaries
4) publish a Guacgui docker images [with Brewtarge

[2020-04-08 07:37] cgspeck opened #457 "Text Notes on Brew Days gone and do not work anymore"
Before #453 I was able to store notes against each brew day.

After upgrading all the notes have gone blank. If I attempt to save a note, then an error is thrown and the application crashes:
![image](https://user-images.githubusercontent.com/1311012/78756163-b2935000-79bd-11ea-992d-30f125f1d94c.png)

[code]

Steps to reproduce:

1. click on a recipe
2. click "Brew It" or select an existing brew da

[2020-04-08 13:12] mikfire commented on #457
Ugh. This is a bad combo.

The root cause here is that I did not include the notes column in the TableProperties for brewnotes. As part of the upgrade, I dropped two columns from brewnotes that were not used.

On SQLite, dropping a column requires making a temporary table, copying the data from the old to the temp, dropping the old and renaming the temp. Since I didn't define the notes column, the

[2020-04-10 04:40] cgspeck commented on #457
Thanks for the instructions, and it's no stress to me I took a backup before trying the new version so I can roll back at any time. I would be happy to test the fix once it is ready.

[2020-04-26 06:02] #457 closed

[2020-05-07 10:19] ippyfil opened #460 "Crashing after update to Mac OS Catalina"
After updating to Mac OS Catalina, my brewtrget just broke. Apparently I lost all the data I had and cannot use it. When I open it, I receive the multiple databases found, and after open it (clicking restore or rollback) the program crashes when I try to choose the equipement (or anything else actually). I have uploaded the crash report
[brewtarget_crash.txt](https://github.com/Brewtarget/brewtarg

[2020-06-05 15:14] nob0dy73 opened #461 "SQL Database Error in mashstep"
First time commenting so please bear with me.

Program crashes with a cryptic error of "Parameter count mismatch" when trying to use the Mash Des or the Mash wiz as shown below:

When manually inserting the same entry into the SQL database sqlite3 produces an error:

Time_min,:stepNumber,:stepTemp_c,:stepTime_min,:typeString);

Taking folder out of the expression fixes the error and an entry can b

[2020-06-11 14:12] mikfire commented on #461
Hum. Mashsteps should not have folders.

[2020-06-21 13:49] #461 closed

[2020-06-28 13:24] mrkaban opened #464 "Will there be version 2.3.1 for Windows?"
Thank you very much for such a program under the free GNU GPL license! This is a great contribution to the development of everything in the world in general!

Added it to the site about free software in Russian ([link](https://xn--90abhbolvbbfgb9aje4m.xn--p1ai/%D0%B4%D1%80%D1%83%D0%B3%D0%B8%D0%B5-%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D1%8B/brewtarget-%D0%BF%D0%B8%D0%B2%D0%BE%D0%B2%D0%B0

[2020-07-04 14:11] retiredtrucker opened #465 "First wort hop calculations in correct"
When using fwh in hop use the calculation is out by 100 times. ei; EKG hops 4.5 % 60 min boil is 15.31 AAu's Same hop FWH 1531.00 AAU's

[2020-07-04 22:33] AdamBark commented on #465
What version of brewtarget are you running?

[2020-07-05 14:59] tpiszcze opened #466 "Feature request - Alpha % in Inventory Report"
I think it would be helpful to have Alpha % column in Hops section in Inventory Report.

[2020-07-08 23:27] retiredtrucker commented on #465
2.3.1 . sorry not AAU but IBU's

[2020-07-18 21:36] AdamBark commented on #465
Hmm, seems to have been reported in #177 and closed although there was a comment saying it still existed. If you can get a more recent version it seems to be fixed now.

[2020-07-19 03:02] mikfire commented on #465
have you checked tools -> options -> formulas and the first wort % field? If that is at a strange value, it will give strange results. It should be (maybe?) 110.

As I recall, #177 wasn't that the calculation was bad. It was that the default value for that field was wrong.

[2020-08-07 18:59] brianbuccola opened #469 "Database gone/reset to defaults"
Hi,

Basically the same thing as #247, it seems. I opened brewtarget, and all my settings, equipment, recipes, etc. are gone. Tried quitting and restarting several times, no luck.

One thing that may be related: I often open brewtarget just to check some info and then close it, without changing anything. Yet brewtarget asks if I want to save my changes. I always click "No" just to be safe (in case

[2020-08-07 20:03] mikfire commented on #469
I am honestly very sorry this happened. Right now, using dropbox as your data directory is our best recommendation. What version are you using?

PR #260 did resolve as many of the issues as I could find. But I am not certain it ever made it into a release. We lost our release manager just before 2.4.0, and nobody has yet volunteered to try again.

[2020-08-10 16:51] brianbuccola commented on #469
I'm on version 2.3.1, from the Arch Linux repository. I'll try upgrading to 2.4.0 and see if that helps.

No worries at all. Thanks for all the hard work. Brewtarget has been very useful.

[2020-08-12 02:49] dzsquared commented on #434
Just a note for anyone who comes across the high-DPI scaling issues on Windows - these are the properties changes to BrewTarget.exe that I've made to display the app
![image](https://user-images.githubusercontent.com/12227241/89969576-9c1b3080-dc0b-11ea-8582-69e48a09bed3.png)

[2020-08-12 14:32] Wyrmwood commented on #434
Thanks!

Regards,
Grognard

וצריך ביאור
*One way is to make it so simple that there are obviously no deficiencies,
and the other way is to make it so complicated that there are no obvious
deficiencies. - Tony Hoare*

On Tue, Aug 11, 2020 at 8:49 PM Drew Skwiers-Koballa <
notifications@github.com> wrote:

[2020-08-16 01:06] 90percentbrewer opened #470 "Cannot Start Brewtarget"
I replaced my drive on my mac and moved the apps from the old drive to the new one.  I am now getting this message
/Volumes/Macintosh HD/Users/xxxxxx/.config/brewtarget" cannot be read.

where xxxx is my username.  How can I do a clean uninstall or how do I point this to the new volume

The "Macintosh HD" was the name of my old disk when I replaced it I gave the new disk a new name

[2020-08-16 06:35] dpettersson commented on #470
HI, My guess is that there is some environmental variable left that points to that directory.

BrewTarget uses the users home directory variable to find the config and the databases. Since you have changed the disc it is possible that some of the paths in the environmental setup points to the old directory.

you can print the current variables by running "printenv" in a terminal. If the output is

[2020-08-16 14:24] mikfire commented on #470
To be really pedantic about this, the code first looks for an environmental variable called XDG_CONFIG_HOME. If that isn't set, we look for an environmental variable called HOME. If we can't find that, we use /.

My guess is that you probably have the HOME variable set and it is pointing to the old location.

[2020-08-16 19:52] 90percentbrewer commented on #470
Thanks. Where would I find these variables at?

[2020-08-17 01:15] mikfire commented on #470
Well, if you were on any one of a number of *nix variants, I could probably answer that.

On a Mac? I think if you were to use your preferred search engine and ask for "mac set homedir", you might get enough information to help out.

[2020-08-17 19:05] 90percentbrewer commented on #470
So my HOME variable is pointed to my new drive....Checked by using echo $HOME  and also went to the GUI to see where the HOME directory is, both are showing the new drive name but BrewTarget is trying to point to my old directory

[2020-08-17 19:07] 90percentbrewer commented on #470
echo $HOME
/Volumes/Macintosh SSD2/Users/cXXXXh

message while trying to launch brew target

/Volumes/Macintosh HD/Users/cXXXXh/.config/brewtarget" cannot be read

[2020-08-17 21:22] 90percentbrewer commented on #470
echo $HOME
/Volumes/Macintosh SSD2/Users/cXXXXh

message while trying to launch brew target

/Volumes/Macintosh HD/Users/cXXXXh/.config/brewtarget" cannot be read

[2020-09-09 06:35] mattiasmaahl opened #473 "Slots: signals in BeerXMLElement subclasses?"
I was running brewtarget through the GDB and found a lot of warnings that the signal 'void changedName(QString);' is redefined in all the subclasses of BeerXMLElement.

Is this appropriate?
As far as I know (which, granted, is not much) the signal is inherited from the base class.
also there's a comment in BeerXMLElement.h that the signals should not be redefined due to silent crashes?

beerxmleme

[2020-09-09 06:52] mattiasmaahl opened #474 "Feature request: Add logging options to GUI"
Is there an interest in having logging settings in the GUI for the user?

My thinking here is that if we add options to turn on logging, i.e. INFO, WARNING, ERROR and DEBUG, in the GUI and letting the user choose where to put the logs, we can have more end-user bug reporting with logs to support the developer in troubleshooting.

I was tinkering a little on how that would look below:
![bild](https

[2020-09-09 06:58] mattiasmaahl commented on #444
Is this still an issue?

[2020-09-09 13:00] mikfire commented on #473
I do not think those are needed. They are likely a hold over from one of my attempts to decrease the amount of load on the database. I do not see anything emitting that signal, so I suspect you can safely remove them.

The general rule we've tried to follow is that only the Database class emits signals for data having been changed. There are a few exceptions to that, as a few classes have calculat

[2020-09-09 13:07] mattiasmaahl commented on #473
ok, I'll fix a PR for that then. :)

[2020-09-09 14:16] mikfire commented on #444
Nope. There are other issues in the import, but this is not one.

[2020-09-09 14:16] #444 closed

[2020-09-09 16:58] mikfire opened #475 "Importing an XML file from our export throws a lot of warnings"
This is a side effect of the most recent rewrite of the database code I did. Unless it is an enumerated type, we write the property to the database as is. With the enumerated types, converting the property name to the XML property name isn't working.

I have a fix, but need to address some other issues before I can make a clean PR.

[2020-09-09 17:00] mikfire opened #476 "default_database.sqlite is a little broken"
The default_database.sqlite is missing the notes column on brewnotes. This is again a side effect of my bad code. I will probably make the same PR for this issue and #475.

[2020-09-10 06:55] mattiasmaahl commented on #474
@mikfire What do you think of above? would you mind having a look? link blow to my Repo.

I did some work on this yesterday and have a branch ready for PR.
[https://github.com/mattiasmaahl/brewtarget/tree/addingLoggingOption](url)

[2020-09-10 06:56] mattiasmaahl commented on #473
#478 <- PR submitted for this.

[2020-09-10 12:33] mattiasmaahl commented on #455
Is this still an issue?

[2020-09-10 13:57] mikfire commented on #455
Shouldn't be. It was fixed with the shown merge.

[2020-09-10 13:57] #455 closed

[2020-09-10 14:00] #473 closed

[2020-09-11 12:20] mattiasmaahl commented on #158
closed?

[2020-09-11 18:28] mikfire commented on #476
Closed by commit dee75b4

[2020-09-11 18:28] #476 closed

[2020-09-11 18:28] mikfire commented on #475
Closed by commit dee75b4

[2020-09-11 18:28] #475 closed

[2020-09-11 23:18] soldbyboyd commented on #469
This is also my experience--everything is gone :(. Another problem I have, though, is that whenever I click the button/field next to beer category, or try to add a fermentable, the program closes out without warning.

I really love this program and would like to use it again! A little sad about losing a few dozen recipes but we can rebuild. Any advice?

[2020-09-12 12:16] Dieter-W opened #481 "2.4 Verson"
Do you have any plans to provide a 2.4 version on the brewtarget webside?

I run a windows machine and was not able to build the current version on my PC, so it would be nice you provide an update on the webside

[2020-09-14 18:14] dschwilk opened #483 "Saving a "note" to a the dated tab causes application to crash"
Hello,

I built and installed (as .deb) the current development version. I had to fool around with the dependencies for the package but otherwise no problem.  I built it rather than installing the released 2.3.1 because I had trouble with the mash schedule part in 2.3.1 and saw that some work had been done in that area.

I ran into a problem, however. When I tried to enter a note regarding the bre

[2020-09-14 18:23] dschwilk opened #484 "Graphical/text representation of gravity,color, IBUs, etc has mis-sized and truncated text"
Hello,

This issue showed up on the 2.3.1 .deb package version as well as in a newly built 2.4 version from the develop branch.  It is only an issue on a high resolution screen (eg 4k) and is not a issue on my laptop.  The graphical "slider" style calculated data has the wrong font sizes relative to the slider spacing

![image](https://user-images.githubusercontent.com/2388939/93122990-0bfa5c00-f6

[2020-09-14 18:58] dschwilk commented on #484
Oops, this is duplicate of #434

[2020-09-14 18:58] #484 closed

[2020-09-14 19:01] dschwilk commented on #434
I have this issue with current develop branch build on kubuntu 20.04. Setting the environment variable QT_FONT_DPI=96 on the brewtarget command call does help.

[2020-09-14 19:11] mikfire commented on #483
Uh. That's not good. You sort of have two choices.

Assuming you didn't change your data directory, the best option is probably to do this:
[code]
If you changed your data directory, the path will be different but the command is the same.

There's a PR that will fix this issue in the default database. You caught this bug right in the middle of me causing it, finding it and fixing it.

[2020-09-14 19:24] dschwilk commented on #483
Thanks!  Oops, that's what comes from using the development branch :).  But this way I hope I do catch bugs in the future, and not just those already found.

Thanks for your work!

[2020-09-15 01:37] #474 closed

[2020-09-16 06:54] mattiasmaahl commented on #483
Is this still an issue after latest merge? can we close?

[2020-09-16 12:24] mattiasmaahl opened #486 "Bug With database not creating in windows on fresh install"
I found that the logfile and database was not able to be created when Brewtarget was installed on a fresh computer where BT had not been installed before.

I'm in the process of fixing a PR for that bug. will be up soon.

[2020-09-18 12:17] jawsdaws commented on #434
This is a much better solution than the hackery I was working on.

[2020-09-22 15:18] #483 closed

[2020-09-22 15:24] mikfire commented on #416
This was all fixed as part of #453

[2020-09-22 15:24] #416 closed

[2020-09-22 15:25] mikfire commented on #440
This was fixed as part of #453

[2020-09-22 15:25] #440 closed

[2020-09-22 15:29] mikfire commented on #420
Can this issue be closed?

[2020-09-22 15:31] mikfire commented on #464
No. The 2.3.1 release was specific to Ubuntu and had no real code impact.

If we release anything new for windows, it will be 2.4.0

[2020-09-22 15:31] #464 closed

[2020-09-25 08:43] mattiasmaahl commented on #481
While I cannot tell you exactly when 2.4.0 will be released, I can tell you we're working on it.

I just sent a PR to fix the stable/2.4.0 so it builds on windows if that gets merged you can build that branch on windows.
Otherwise I may be able to help you get an installer to run.

[2020-09-28 16:19] Dieter-W commented on #481
Thanks Mattias,
I let you know how it works out

[2020-09-29 23:35] padraic7a opened #489 "dpkg -i deb throws up errors - old dependenices listed as required"
Hi, I am trying to build on Ubuntu 20.04. No problem with these steps:

[code]

When I get to ``` $ sudo dpkg -i brewtarget_2.4.0_x86_64.deb``` it throws up a bunch of errors:

[code]

Full paste at https://pastebin.com/6f5FvtET

The deb builds and installs fine so I guess it's not a big issue but listing the out of date packages is confusing.

[2020-09-30 12:16] mikfire commented on #489
I am working on this and should have something available soonish

[2020-10-01 08:14] mattiasmaahl commented on #489
I have a fix ready for this, if you want it. @mikfire
I'll create a PR for it.
also, when installing the package, use apt install ./brewtarget_2.4.0_x86_64.deb, this will ensure dependencies are installed as well.

[2020-10-26 08:35] matty0ung opened #493 "Brewtarget has two separate bug trackers"
AIUI, https://github.com/Brewtarget/brewtarget/issues is now the official bug/feature list.  However, https://bugs.launchpad.net/brewtarget is where new users are likely to end up.  (You start from the http://www.brewtarget.org/ home page, click 'Help' to get to https://groups.google.com/g/brewtarget-help and then click Bug Tracker.)  If Launchpad is now deprecated can we mark it as such, merge it

[2020-10-26 08:41] matty0ung commented on #493
While we're at it, we could fix the other broken link at https://groups.google.com/g/brewtarget-help: 'Source Code Repository' points to http://www.gitorious.org/brewtarget instead of https://github.com/Brewtarget/brewtarget

[2020-10-26 14:09] s-r-grass opened #494 "Thank you very much for the free open source program!"
Hello, thank you very much for a good program under a free open source license!

The project is interesting, so please don't abandon it!

[2020-10-28 07:12] matty0ung commented on #441
Hopefully you already found an answer after all this time, but adding a comment here for the benefit of anyone else who has a similar question.

From looking at the source code, it looks like (for both Mac and Linux), the DB files (main and automatic backups) usually live in ~/.config/brewtarget. (In other words, in your home folder, there's a hidden subfolder called ".config" and inside that ther

[2020-10-28 07:40] matty0ung commented on #460
Do you know which version of Brewtarget are you running?
Also, could you upload the database file you were using?

[2020-10-28 07:49] matty0ung opened #495 "Brewtarget should log its version number"
When Brewtarget starts up, it logs "INFO : Starting Brewtarget."  It would potentially help debugging user problems if it could also log version and platform info.  This is partly in case the user doesn't remember which version is installed and has a problem that prevents them from accessing the "About" menu.  But it's also ultimately simpler to have essential info in the log file (if most users a

[2020-10-28 08:38] matty0ung commented on #269
Is there, in fact, anything to do on this bug?
It seems the way this part of the code works was already changed and the error message reported by the bug raiser is no longer in the current code.  (It was originally in Database::cleanupBackupDatabase() - see https://github.com/Brewtarget/brewtarget/blob/stable/2.2.0/src/database.cpp - but this function no longer exists in the 2.4 code.)

[2020-10-28 16:14] matty0ung opened #497 "Backup Database - can't choose filename, and clicking Cancel gives error"
Per https://bugs.launchpad.net/brewtarget/+bug/1109751 and https://bugs.launchpad.net/brewtarget/+bug/1372087, there are a couple of issues with the database backup dialog:
 * You can currently only choose a backup directory, not a filename - which is annoying if you want to make several manual backups and keep them in the same directory
 * If you select manual backup and then click cancel, you ge

[2020-10-28 21:15] matty0ung commented on #470
Don't know if it will help diagnose this specific bug, but might not hurt to add some logging of whether we are using XDG_CONFIG_HOME or HOME.  Otherwise can be hard to be certain which environment variables are set if you're starting an app from the GUI rather than the command line.  Have added https://github.com/Brewtarget/brewtarget/pull/498 for this.

[2020-10-29 01:13] patrick-brian-mooney commented on #247
Me too. Entire database is just gone. Everything. Dozens of recipes, and all the yeast and other ingredient information I'd entered.

It just silently disappeared at some point between when I last used Brewtarget, maybe six weeks ago,  and when I opened it again just now.

Everything's gone.

Linux Mint 20 on x64 with Brewtarget 2.3.1.

[2020-10-30 10:33] matty0ung commented on #370
FYI I am working on an implementation of this, using the QT5 undo framework as suggested above.  I have simple cases working (edit a value).  Adding/removing fermentables etc will be a bit more fun, but should be doable.

[2020-11-02 08:57] matty0ung commented on #446
Might be time to refactor a bit?

[2020-11-07 08:46] matty0ung commented on #469
@soldbyboyd, I wonder if the crashing is perhaps because of some permissions issue either with your database file or with the directory it lives in.  Can you upload your log file (brewtarget_log.txt), configuration file (brewtarget.conf) and database file (database.sqlite)?

[2020-11-07 08:51] matty0ung commented on #469
@mikfire What needs to be done to get 2.4.0 out the door? Happy to help...

[2020-11-07 09:33] dpettersson commented on #469
Hi,

The database should have been backed up and they should be located in the
same directory as the regular db. Replace the current db with an older copy
and your recipies should be back.

These older copies are replace at some points so it might be to late, but
it is worth a try.

/Dpettersson

Den lör 12 sep. 2020 01:19soldbyboyd <notifications@github.com> skrev:

[2020-11-09 01:21] dbeniciorj commented on #445
Hi guys, importing a bsmx profile to the database would be very nice because we would import some regional ingredients profiles too, like national malts and hops, instead of creating items one by one. It seems Beersmith uses these files to improve customization.
I'm looking forward to see this update cause BT is incredible and I'd like to use it more.
Here I have another example, renamed as extens

[2020-11-09 19:15] mikfire commented on #445
BSMX is beersmith's custom format. It can and will change between versions as beersmith makes changes to it. Every time beersmith makes a change, we then have to dig into the code, figure out what changed and fix it.

This seems like we are making work for ourselves, and creating problem tickets over the long haul. It makes me very hesitant to implement the support.

[2020-11-09 23:35] dbeniciorj commented on #445
Hello @mikfire , i agree 100% with you. But this feature is one of the best features of beersmith, wich is the "market" standard, and many vendors  use it to export equipments and ingredients profiles to that "standard" software, what makes it more and more popular... I can't see a way out of this path. And possibly having a utility like this would popularize Brewtarget even more, because it makes

[2020-11-10 07:36] matty0ung commented on #445
Having a way to import equipment profiles would be a good feature (and was something I missed when I started using BrewTarget).  If the current de facto standard for such profiles is the BSMX XML format then we could look at that as at least a starting point - not least as it's XML-based and there are lots of existing real-world files out there for us to parse.  I'm happy to at least take a look a

[2020-11-11 03:06] mikfire commented on #445
I'm a little confused.

We have a way to exchange profiles. It is called BeerXML. The entire point of BeerXML is to allow different software to exchange these profiles without having to understand each other's formats. We should no more have to understand beersmith's proprietary format than beersmith should have to understand our database schema.

If beersmith no longer supports BeerXML, that is b

[2020-11-11 06:26] padraic7a commented on #445
I think that makes sense.

[2020-11-11 06:55] mattiasmaahl commented on #445
I side with Mik on this one, Beersmith .bsmx format is a proprietary format that is not intended to me used in other softwares for importing/exporting profiles/equipment or recipies, we have BeerXML which works the same way but for all brewing softwares, and there is also work being done to create the beerJSON format, both open standards that will be possible to maintain over a foreseeable future.

[2020-11-11 08:31] matty0ung commented on #445
Ah, didn't know BeerXML could do equipment profiles - and couldn't see equipment profile import in the BT UI.
Yes, if we can already represent profiles in BeerXML, then I agree that should be our default format.

Equally I think there is an argument for being able to _read_ from other file formats in certain circumstances - either directly or via a free-standing conversion tool - eg if manufacture

[2020-11-11 08:49] mattiasmaahl commented on #445
I do agree with you that there cases where Open Source read from proprietary file formats, although the Microsoft file formats are an "open" standard, where the most part of the standard is open and free and other parts are Licensed and subject to a fee.
But that aside, I do not disagree with a third party tool to convert from other formats, i.e. bsmx, to BeerXml before importing to BT, but I find

[2020-11-11 09:08] matty0ung commented on #445
Maybe we should accept the offer of @dbeniciorj to write such a freestanding tool in Python? :)

[2020-11-14 20:14] EricFries commented on #441
Thank you @matty0ung, I was able to track it down.  I'm not sure why the database gets nuked but it does seem to happen now and then.

[2020-11-22 10:44] matty0ung commented on #370
Making progress on this.  I have undo/redo pretty much working for adding/removing ingredients, which turned out to require touching a lot of different places in the codebase.  Need to check a few edge cases and tidy up a couple of things but hope to have a pull request in the not too distant future.

[2020-11-23 13:47] mikfire commented on #370
Just out of curiosity, have you tested this against postgres as well? Since I am the only person who likely uses it, "No" is a perfectly acceptable answer.

[2020-11-23 17:02] matty0ung commented on #370
I haven't explicitly tested it with postgres, but I would be very hopeful that it would work fine.  Rather than poke the database directly, I've tried to do things via the object model - eg undoable actions pass through MainWindow (which has the Undo/Redo controls), then MainWindow asks, say, the Recipe to add or remove a specific Fermentable, and then let Recipe make the necessary requests to the

[2020-11-25 09:14] matty0ung commented on #370
OK, I now have a pull request for the implementation of this: https://github.com/Brewtarget/brewtarget/pull/499  This is extensive (but not, I hope, any more complicated than it needs to be!) because (a) we have to touch every place in the code that makes a change the user would want to be able to undo/redo and (b) being able to undo/redo add and remove in a clean way required some light refactori

[2020-11-25 16:33] matty0ung commented on #460
@ippyfil From looking at your crash file, it seems the program is opening the Equipment Editor window and trying to get the equipment for the current recipe.  However, for some reason there isn't any equipment assigned to the current recipe, and the version of the code you are running does not handle that gracefully - ie it crashes!

This is, however, fixed in the latest versions of the code (the

[2020-11-25 16:46] matty0ung commented on #289
@mikfire If you are still looking for someone to manage releases, I'm happy to volunteer.

[2020-11-26 15:55] matty0ung commented on #446
Pull request https://github.com/Brewtarget/brewtarget/pull/499 takes a step in the right direction here - asking Recipe to insert itself in the database.  Just need a bit more work to make the Recipe object handle adding equipment to itself.

[2020-11-26 15:59] matty0ung commented on #466
This is probably small work to code.  I'll have a look at it once my fix (https://github.com/Brewtarget/brewtarget/pull/499) for https://github.com/Brewtarget/brewtarget/issues/370 is merged.

[2020-11-26 16:11] matty0ung commented on #387
@edupetita Would you be able to contribute Portuguese-Brazilian translations?

[2020-11-26 17:58] HumanG33k commented on #387
@edupetita what do you use to make your reports ? some tools ? if yes which ? really interrested.

@matty0ung may all string can be send to deepl (currently the most efficient tool) for a first translation ?

[2020-11-27 08:14] matty0ung commented on #387
@HumanG33k I think the issue with using DeepL would be that the free-access version involves a painfully manual process of copying and pasting strings to and from a web page, whereas the API access is not free (see https://www.deepl.com/pro#developer).  But, in principle, using machine translation to do a first-pass on creation of non-English strings sounds good.  I've started trying to document t

[2020-11-28 00:20] HumanG33k commented on #387
It's not the best product but i think https://www.apertium.org/ can be great on long run.

[2020-12-02 20:10] r4nd0m6uy opened #500 "beerxml import seems broken"
Hallo Brewtarget developpers!

I have been trying importing my old beer recipes but it always crashes. Fixing one issue, another one shows up and I'm wondering if someone have tried this feature recently that seems totally broken. The following beer recipes always fail to import, despite they were exported with brewtarget:
https://gitlab.com/morandg/GuixBeers/-/tree/master/recipes

I don't know if

[2020-12-02 20:13] r4nd0m6uy commented on #500
Last backtrace from original code I could get:
`
Thread 1 "brewtarget" received signal SIGSEGV, Segmentation fault.
0x00005555556b0032 in Ingredient::isValid (this=0x0) at /home/random/sources/brewtarget/src/ingredient.cpp:281
281	   return _valid;
(gdb) bt
#0  0x00005555556b0032 in Ingredient::isValid (this=0x0) at /home/random/sources/brewtarget/src/ingredient.cpp:281
#1  0x00005555556c219a in B

[2020-12-03 11:52] matty0ung commented on #500
This is a very interesting bug.  I have a fix for it which I will post soon.

[2020-12-03 12:59] matty0ung commented on #500
So, the fun bit is fixed in https://github.com/Brewtarget/brewtarget/pull/501.

@r4nd0m6uy There are still problems loading in the files you link to, but I don't yet know enough about what expected behaviour is.  Specifically, once the above fix is applied, importing the file blows up because the code cannot handle a MashStep that doesn't have a name.  (If you manually edit the XML to insert rando

[2020-12-03 14:03] r4nd0m6uy commented on #500
Hoy @matty0ung,

Thanks for your quick reply and quick fix! Indeed, I would not have found it myself in less than one day :stuck_out_tongue: ...

Singletone ... mmm hhh ... For the last issue, I don't mind editing my XML and can live with it, although I fix is very welcome!

Thanks and keep the great work!

[2020-12-03 14:04] r4nd0m6uy commented on #500
Didn't test myself though, I guess you did and you can close the issue if you feel confident :+1:

[2020-12-03 16:26] matty0ung commented on #500
No worries. :-)

For the rest of the issue, my instinct is that, when reading files, the software should try to "make sense" as best it can of the input - so, in this case, generate some arbitrary name to replace the 'missing' one and carry on processing the rest of the file. (Conversely, for writing files, we should obviously aim to generate exemplary BeerXML.)  If others agree then I would be ha

[2020-12-03 16:59] matty0ung commented on #452
I haven't done a deep dive on this, but, from a quick look, I _think_ the issue is that the overloaded version of BeerXML::toXml() that deals with Recipes just runs through all the database columns of the Recipe table to get primary attributes, but IBU is not stored here as it is calculated on the fly (by Recipe::recalcIBU()), and so doesn't get included in the generated XML.

Two approaches for f

[2020-12-04 12:09] r4nd0m6uy commented on #500
I just want to confirm that I have tested the patch and after fixing my recipe as suggested, it works!
https://gitlab.com/morandg/GuixBeers/-/commit/d5f4220e7dab4c45931f4432c063fc14bbdfea03

I would like to apologize for the aggressive post, I was very frustrated that I couldn't tweak my recipe, now I'm very happy and will order my ingredients!

Thanks again @matty0ung , you are awesome! Long live

[2020-12-04 17:46] matty0ung commented on #500
You're welcome.  Always glad to help a fellow brewer! :+1:

[2020-12-07 07:58] matty0ung commented on #434
I have a fix that addresses this without having to set environment variables etc.  Specifically it makes the icons and range sliders a sensible size.

[2020-12-07 13:50] mikfire commented on #452
Oddly enough, there is no IBU field defined in the RECIPE XML specification and so it has never been implemented. @rocketman768 was pretty strict in how he followed the spec, and I've only recently begun to really ignore it. I might even go so far as to say this isn't a bug, but a feature request.

My impulse is to simply modify the proper BeerXML::toXML method and call it a day. It's one field, i

[2020-12-07 13:54] mikfire commented on #500
If you ever wanted to know what I hate about BeerXML, it is this. Nobody generates BeerXML to spec, and the spec is written in a way that we cannot use validators on the input.

Technically, this bug is in the generating software. The BeerXML spec says NAME is a required attribute in a MASH_STEP. Yes, our code should be more defensive, but I think we should at least be able to assume required fiel

[2020-12-07 16:46] matty0ung commented on #452
Ah, fair enough if it's not in the spec.  Perhaps should therefore be a feature request to whoever is guardian of the BeerXML spec.  (I struggled a bit to find definitive latest info via Google as the link to 'discussion about v2 of the standard' seems a bit broken - http://beerxml.com/forum/)

On the Q_PROPERTY thing, I'm not sure I understand how it links us the database (which I agree would be

[2020-12-07 16:55] matty0ung commented on #500
@mikfire I hear what you're saying.  At the same time, it seems on this occasion that we should say nice things about the generating software because line two of the file being imported says ''. :smiley:

[2020-12-08 18:37] mattiasmaahl commented on #495
This issue was closed with PR#496.
Closing it.

[2020-12-08 18:37] #495 closed

[2020-12-08 18:38] mattiasmaahl commented on #494
Doing our best! 😊

[2020-12-08 18:38] #494 closed

[2020-12-09 12:11] mattiasmaahl commented on #497
This issue resolved by PR #492, closing, can reopen if necessary.

[2020-12-09 12:11] #497 closed

[2020-12-09 12:14] mattiasmaahl commented on #500
can we consider this Issue Resolved? or is further development on the import necessary?

[2020-12-09 12:32] matty0ung commented on #500
Yes, I think given that, with a bit of manual editing, OP was able to get brewing after the fix, then we can close this.  I will raise a separate enhancement issue to make the XML input more robust.

[2020-12-09 12:33] #500 closed

[2020-12-09 12:38] mattiasmaahl commented on #493
I don't know who has access to both the web site and the googlegroup, my guess would be @rocketman768  or @mikfire. maybe a general overhaul would be in order?

[2020-12-09 12:41] matty0ung opened #504 "Make XML import more robust"
Following https://github.com/Brewtarget/brewtarget/issues/500, I'd like to make the XML import more robust:
- Current error-reporting when something goes wrong isn't as user-friendly as it might be - eg software exits with an error message to stdout...
- Some things that are, strictly, errors (eg missing mash step name) in the creation of the file are actually things that we could and ideally shou

[2020-12-09 12:44] matty0ung commented on #493
Yes, at very least if we could fix the broken and out-of-date links mentioned in https://github.com/Brewtarget/brewtarget/wiki/Where-to-Find-Things that would be helpful to new users.  Agree it's most likely @rocketman768 and @mikfire who have the necessary access.

[2020-12-09 13:23] mattiasmaahl commented on #504
I agree, we should be able to quite easily implement this, maybe just as a start report on the bigger categories, i.e. Mash-step, Fermentables, Equipment and such. or do you feel a more detailed error message is to be prefered?
My thinking here is to utilize the logging module more, maybe rewrite part of is so that it is always writing a Debug log file, but keeping it limited to the last 100 rows

[2020-12-09 13:26] mikfire commented on #493
I think you are terribly optimistic to name me in that. I honestly have no idea if I have access to brewtarget.org.

I would have loved to shut down the launchpad site entirely, except that was where we actually handled the internationalization work -- rocketman thought the work flow on launchpad was better for this task.

[2020-12-09 13:44] mattiasmaahl commented on #493
Ok, I cannot say what system is best, but I used the QT Linguist software when I translated the Swedish translation last. Then its a matter of updating the files here with a PR, but it may be easier for people who is not used to the github process to use Launchpad web-gui for that task as it doesn't need any additional software installed.

Question is though how we want to go forward from now on?

[2020-12-09 14:26] mattiasmaahl commented on #289
I also want to see the 2.4 version come to life.
Can assist in building packages for all platforms except MacOS, I have not gotten a virtual MacOS to work. in the process though :)

[2020-12-09 14:42] mattiasmaahl commented on #420
I would say Its closed.
Open new ticket if this is still an issue.

[2020-12-09 14:42] #420 closed

[2020-12-09 14:50] r4nd0m6uy commented on #500
Thank you guys! If I dare giving my opinion to reply @mikfire comment:

I don't think BeerXML neither XML is bad, it's just that XML is very often missused or not well understood. It seems that no one validate its XML against the (BeerXML) schema that results in the mess it is today...

[2020-12-09 16:48] matty0ung commented on #500
One thing I've done in the past with importing XML, which could help us a bit, is to parse the file twice.  The first time you validate and can let the user know if there are any heinous errors that you can't deal with.  The second time, if the first time was OK, you actually import the data.  That way you don't, say, get half-way through injecting a new recipe in your database before hitting an u

[2020-12-09 20:43] matty0ung commented on #493
I will ask rocketman about access to brewtarget.org.

[2020-12-09 20:52] matty0ung commented on #493
AIUI there are projects that use Launchpad for translations and Github for sourcecode, wiki.  UI on Launchpad for bugs etc looks a bit clunky to me, but its translation management (for which there seems no equivalent on Github) looks quite a bit nicer than editing the .pr files directly. I'm sure we can get admin or similar access to Launchpad from @rocketman768.

[2020-12-09 20:55] matty0ung commented on #504
Yes, probably a pop-up window can give summary info about whether the import succeeded or failed - perhaps with first catastrophic error in the latter case - and then refer the user to the log file for blow-by-blow details.

[2020-12-09 21:12] mattiasmaahl commented on #504
I can tinker with the logging module and see if I can figure out a good strategy for the log file rotation and the dry-run-import. That is if you're not in the process already?

[2020-12-09 21:28] matty0ung commented on #504
Good idea.  I think having log file rotation is a good think independently of XML logging.  I tend to add lots of debugging logging when I'm working on a feature (and then delete some of it if it's insanely verbose), but it's relatively easy as a developer to create a large log file. :smiley:

I am starting to have a look at the XML code.  Although @mikfire already did some good work to pull XML p

[2020-12-10 06:48] mattiasmaahl commented on #504
Sound god to me, will start working on the Log file rotation, will revert when I have something.

Regarding XML Import, I agree @mikfire did a good job on the XML parsing, and if the QXmlSchemaValidator works that would be a very good time-saver, but I have to read up on that library as I have never used it before.
Will revert when I have done some preliminary work.

[2020-12-10 07:43] matty0ung commented on #504
OK, cool, if you look at log files, shall I look at XML schemas?

Also, if you get time to investigate while you're looking at logging code, it would be neat to be able to use iostreams output.  In theory Qt lets you write things such as  `qDebug() << "Brush:" << myQBrush << "Other value:" << i;` but when I tried this in Brewtarget, the output didn't go to brewtarget_log.txt

[2020-12-10 08:07] mattiasmaahl commented on #504
ok, That sound good, You look at XML schemas and I will look at the logs.

The way Logging is set up now is, AIUI, either you use stream OR File, which one would think could be all the same, but not as it is set up now... (I may have had a hand in that. :) )
What I'm thinking is I'll rework it to use a stream anyway and then use a file-limit, so to speak, and then prune older files as logs grow. M

[2020-12-10 12:00] r4nd0m6uy commented on #500
Checking again the specification from http://beerxml.com/

It seems that it was not done by XML experts. I don't find any DTD neither an XSD to validate against but a text document that vaguely describes the formate, now all this mess makes sense. Althought @matty0ung does all the best he can, he will probably never produce something viable. Instead of fixing weird issues in brewtarget, the proble

[2020-12-10 15:20] mikfire commented on #500
I tried fixing this problem a long time ago by creating an XSD from that doc. If I understood everything correctly, XSD can work with tags in random order or with optional tags. It cannot work with both.  BeerXML has both and so XSD cannot be made to work.

My intense dislike for BeerXML isn't because it is XML. BeerXML is bad XML. I've asked a few of the other projects informally, and there is no

[2020-12-11 02:48] mikfire commented on #489
I would prefer the changes to be made against the proper packaging branch, to be honest. I am not quite sure what the intent was previously, but I really do not want to track these files in two places. We should get rid of one of them, or do something really clever like a sub-project.

[2020-12-11 02:50] mikfire opened #505 "SQLite to postgres is broken. Again."
I do wish I could stop breaking this part.

[2020-12-11 04:12] mikfire commented on #505
Never mind. I've got some really, really messy databases laying around. GIGO.

[2020-12-11 04:12] #505 closed

[2020-12-11 04:15] mikfire commented on #446
Cool. I will close this in anticipation of PR#499

[2020-12-11 04:15] #446 closed

[2020-12-11 04:21] #434 closed

[2020-12-11 08:04] mattiasmaahl commented on #489
ok, I'll look into it, but if I remember correctly the dependencies have to be correct in the development source for the packaging to work properly, there are dependencies listed also in the packaging branch, but those are for the packare reference.
I may have misread or misunderstood this workflow but I will look into it thoroughly and revert, although the above PR is necessary to build the .deb

[2020-12-11 13:10] matty0ung commented on #500
I am having a play around with the XSDs reverse-engineered from the BrewXML spec by Jon Lochner (@brewpoo), but it's good to know the limitations that you encountered @mikfire.  I do have an idea about how we might nonetheless end up with something useful, but it needs some more investigation.  I think it will be something fun to keep me occupied over the Christmas break.  Will post results in htt

[2020-12-11 18:32] mattiasmaahl commented on #500
I would say that beerJSON deserves a separate issue/feature-request on its own.

[2020-12-11 18:41] mattiasmaahl commented on #504
I have made som good progress on the logging library. After some thinking an pondering a, more or less, rewrite of thet library was the best vhoice moving forward.
This version vill retain the old Brewtarget::logX methods, although those are just wrappers for the newer qDebug, and friends.
I'm also implementing the log file size restriction and file count in this.

Will have somthing up for review

[2020-12-16 13:46] mattiasmaahl commented on #504
Created a PR for the log rotation and adding the qDebug() << funtionality.

Although I did wrestle a bit with the notion that the log-levels now defined in Log_LogType maybe should be removed and replaced with the Qt levels instead?

As these enums is already in use in the config/settings I did opt to keep them for now, but thought i could ask your opinion on the matter.

[2020-12-16 15:52] matty0ung commented on #504
It's a good question.  I was wondering it myself as I looked at the code.  It's possible we might want different levels in future but OTOH the Qt levels look sensible and are pretty much the same as our own.  My instinct would be to lean towards using the Qt ones (just on the general principle of not have custom versions of things if there's no benefit over using the 'as is' ones from the framewor

[2020-12-16 17:17] mattiasmaahl commented on #504
IMHO the logging levels are what they are, converting to the Qt levels now may save us work in the future. I can have a look at it tomorrow and see if an easy conversion without changing the "interface" so to speak.

[2020-12-18 05:46] mikfire opened #507 "develop crashing on adding equipment to a new recipe"
This could be my database, but if I create a new recipe and then add an equipment profile by either dropping from the tree, or selecting from the drop down list, I get a crash like:
[code]

[2020-12-18 05:49] mikfire opened #508 "Adding yeast to a recipe crashes when using postgresql"
I get
[code]

Those are hard to track down.

[2020-12-18 05:52] mikfire commented on #508
I am getting a similar error when adding hops too.

[code]

[2020-12-18 07:54] mattiasmaahl commented on #507
I'm not running a PGSQL atm. could spin one up though and see if I get the same on a newly created DB.

[2020-12-18 08:35] matty0ung commented on #507
Looks like in MainWindow::droppedRecipeEquipment(), we're getting null returned from `Mash * mash = this->recipeObs->mash();`, but the implementation of that function is just `Mash* Recipe::mash() const { return Database::instance().mash( this ); }`
Do you have a recipe without a mash?

[2020-12-18 08:38] matty0ung commented on #508
Seems like a query barfed inside a transaction and that's preventing subsequent queries running (until transaction is closed).  Can you get any details of the previous DB query, from either Brewtarget logs or PostgreSQL logs?

[2020-12-18 21:14] mikfire commented on #508
So a little digging last night and what had happened is I was connecting to an older database that didn't have the inventory_id field in the right places. This caused the initial load of the database to throw A LOT of errors.

It is completely self-inflicted, as I have too many databases laying around in unknown, unremembered states of disrepair. I doubt anybody but me would have ever had this exa

[2020-12-19 03:53] mikfire commented on #507
Yes. I was creating a new recipe. My usual path is to set the style, the equipment profile, add some grains, add some hops, add a yeast or two and then define the mash.

I think this just requires a bit of nullptr pointer checking in the right place.

[2020-12-19 08:44] matty0ung commented on #508
It's a good question.  I think abort() is a last resort to call if we can't continue and can't exit gracefully (with some helpful message to the user).  If there are circumstances where we can convince ourselves "an end user is never going to see this problem", then an assert a clear way of stating this and gets us the core file & stack trace.  Otherwise, log as much info as possible and get far e

[2020-12-22 02:27] mikfire commented on #507
Three questions.

Where is the set() actually done? I read the code, but I cannot seem to find it.

Would you mind writing a quick explanation of how the magic works, and how to use it? I usually use markdown and put it in the dev-doc directory. It does not need to be one of my epic write ups, but a quick explanation would really help me.

Would you mind if I were to ```fix``` the attribute string

[2020-12-22 09:15] matty0ung commented on #507
The set() is done on line 68 of SimpleUndoableUpdate.cpp:
`this->metaProperty.write(&updatee, isUndo ? this->oldValue : this->newValue)`
Looking at the code again, I do see some scope for improving the comments.  But also happy to do more of a write-up of how things work.  Will try to do something on this front soon, once I make some headway on BeerXML.

On the attribute strings, do you mean stuff

[2020-12-22 13:19] #507 closed

[2020-12-23 08:16] mattiasmaahl opened #512 "I was thinking about windows installer build"
So I was thinking about the windows installer and that this installer need the vcredist package added to the installer to accommodate the "missing" dll's in older windows versions, i.e windows 7.

should we create a project/repository, much like the "debian-package", for the windows installer as well?
my thinking here is that it's not ideal that the vcredist.exe file is included in the main projec

[2020-12-23 08:40] matty0ung commented on #512
Would an alternative be to use something like https://installbuilder.com/qt-developers.html?  It seems that app packaging ought to be a "solved problem" where we don't have to write too much boilerplate code.

[2020-12-23 09:08] mattiasmaahl commented on #512
I see your point and we do already have the NSIS installer, with all its quirks, running.

My initial thought was that the windows version of Brewtarget needs some DLLs that are present in Windows 10 and NOT present in Windows 7, this is amended by installing the vcredist-package from MSoft, version 14-something-something, this binary is now located in the main project tree and does not provide an

[2020-12-23 09:36] mattiasmaahl commented on #512
After reading through the Installbuilder mentioned above, I do believe it to be a real alternative, need testing though, I may be able to do some initial testing during the holidays but the relatives do poke for attention! 😂🎅

let's keep looking though to find what alternatives there are and I would like to have @mikfire thoughts on the matter as well.

[2020-12-23 10:44] matty0ung commented on #512
Yes, +1 for @mikfire input.  My main goals would be (a) minimise boilerplate work we have to do to create packages and (b) only have to configure packaging in one place for all platforms.  The second one is so that things are less likely to get forgotten.  Eg, for compilation, there's an advantage in having a single set of cross-platform cmake files, because when I do a modification for Linux it e

[2020-12-23 13:59] mikfire commented on #512
NSIS was what we were already using when I started working on it. It is interesting, with some odd wrinkles and a few quirks. If there is something we can use (open source, or at least free) that is easier to configure, I see no issues trying it out.

I see we can get a free open source license, but I would like to understand things like who "owns" the license. Will it work for Windows 7 (see belo

[2020-12-23 14:13] mattiasmaahl commented on #512
I completely agree with you @mikfire, although maintaining a build for Windows 7 is not difficult as all you really need to do is install the vcredist_x64.exe package that contains the updated DLLs and off you go. But I would, as you say, like to keep that specific config and binary in a separate repository.
As the NSIS is already in-place it is maintainable, although I would prefer an easier way

[2020-12-23 15:34] mikfire commented on #512
I would suggest downloading the trial version first and make sure it does what we want in a way we like. If the tech works, then we can decide how to proceed.

[2020-12-24 08:11] matty0ung commented on #512
Sounds sensible.  Hopefully they don't tie the licence to one person / one email address.

If we didn't already, we should also look at https://doc.qt.io/qtinstallerframework/ifw-overview.html, though I don't know quite how much it does in comparison with InstallBuilder.

Re Windows 7, I agree we shouldn't spend a lot of time trying to build for an OS that's long out of mainstream support, but I t

[2020-12-24 10:17] mattiasmaahl commented on #512
You have good points, I'll start with essessing the software to see if it does what we expect to do, as @mikfire says. If it does, I'll look into the licensing and how they have solved it. I'll get back to you after christmas wih more info.

@matty0ung will look at your sugestion at that time as well.

[2020-12-29 14:10] mikfire opened #513 "Generate instructions on a new recipe dumps core"
This happens on recipes that don't already have instructions and those that do.

[code]

[2020-12-29 17:28] mikfire opened #514 "Double vision when importing a recipe"
This is a display layer bug, as restarting brewtarget makes the duplicate entries in the tree go away. This suggests we are signaling twice when we should be signaling once. I suspect this is related to the

To reproduce:
1. Export a recipe;
2. Modify the XML to change the name, just for clarity;
3. Modify the mash (if required) to have a name -- I need to fix that;
4. ![See double](https://www.dr

[2020-12-29 17:52] matty0ung commented on #513
Hi Mik, Hope you had a good Christmas.

I had a quick look at this, which reproduced easily for me.  AFAICT an Instruction object is trying to store itself in the database without its this->m_recipe being set, but looking further I think the root cause is my fault I'm afraid (for not fully understanding the difference between Instructions and other Ingredients when I did the undo/redo stuff).  Any

[2020-12-29 17:57] matty0ung commented on #513
Sorry not to have this in a patch yet, but am still in the depths of BeerXML (though, as of the last couple of days, seeing a lot more light at the end of the tunnel!)

[2020-12-29 18:15] mikfire commented on #513
@matty0ung, no worries. This is volunteer work, and it should at least be interesting. When I start paying you a salary, then I will expect immediate response. Since that is unlikely to happen, I am unlikely to expect immediate response.

I can help a little, I think. The issue seems to be when noCopy is set true in the call to addIngredientToRecipe. As a rule, that is only used when we are import

[2020-12-29 18:16] matty0ung commented on #504
For those who are following this, I have some progress to report.  I am now able (with a couple of tricks) validate a BeerXML file against an XSD.  But I have a question, most probably for @mikfire .

I can see in @r4nd0m6uy's recipe files that we use some extensions to BeerXML when we export recipes.  Eg `IS_MASHED` in a `FERMENTABLE` record is not (AFAICT) one of the specified fields in the Beer

[2020-12-29 18:19] matty0ung commented on #513
OK, cool.  Let me know too if you think the two edits I suggest above help.

[2020-12-29 18:21] matty0ung commented on #513
PS: If you also change the constructors of `Instruction` to set `m_recipe` to `nullptr` (ie to initialise that member variable rather than just leave it full of random stuff) then it surfaces the error earlier.

[2021-01-11 17:19] xzfantom commented on #289
GitHub Actions can take some work for preparing packages. I added some settings in my fork https://github.com/xzfantom/brewtarget/commit/8e47fab8165044f3b20bbd6e2e5ff96e1dc435d0 it does mostly what Travis do now, so I don't want to add it to main repo yet. If it would be possible to build packages automatically it would be great.

[2021-01-13 10:02] xzfantom commented on #125
I have a suggestion about styles and some other resources. Maybe better add some function to app for loading such xml (or json) by user. So if somebody want to use bjcp 2008 or any other style library (or translated in native language) it can do it. We can ship resource xml (or json) file with program and load at first start or give user opportunity to do it by himself.

[2021-01-13 13:45] matty0ung commented on #125
@xzfantom The good news is that this functionality already exists.  I'm doing some work to improve XML importing but I think even the current version of the software can import styles from BeerXML.  If you do "File > Import Recipe", it can actually import not just recipes but any other BeerXML document, including styles, hops, etc.

I am going to change the name of the menu item to "Import from Fi

[2021-01-13 14:34] xzfantom commented on #125
@matty0ung that's cool. I just started to learn BT and it's code so this part was not obvious)

[2021-01-21 08:15] xzfantom commented on #512
I built BT in [MXE](https://github.com/mxe/mxe) cross compile toolkit (created docker image for it [mxe-qt5-cmake](https://hub.docker.com/r/xzfantom/mxe-qt5-cmake)). BT was built  with almost no problem - one change for CMakeLists.txt ([commit](https://github.com/Brewtarget/brewtarget/commit/cf5503d02bbaef820d884b12e1611d2e8a842308)). Main problem is with NSIS installer - script uses some plugins,

[2021-01-21 08:50] matty0ung commented on #512
I like the idea of cross-compiling if it can really work - ie if I could compile for Windows, Mac and Linux all from one build on, say, a Linux box, that would be really neat.

Is this a separate issue from installation though?  It seems that build is one thing, but, we also want to ensure that someone who has not got the build environment can install from a single download and not discover that t

[2021-01-21 13:04] xzfantom commented on #512
No, not really separate. Having linux box and docker I can prepare binaries for deb, rpm and win. It's already working and is not an issue.
The only trouble is building windows installer:

1. NSIS Script uses 2 plugins - [Locate](https://nsis.sourceforge.io/Locate_plugin) and [NSISLog](https://nsis.sourceforge.io/NSISLog_plug-in), they just don't work in cross-compile environment or in x64 environ

[2021-01-21 17:04] matty0ung commented on #512
Ah, OK, that's brilliant.  Let's see what @mattiasmaahl thinks about installers.  Originally I suggested to look at another tool to try to save work, and he was going to investigate.

However we get there, I'd love us to be in a position where it's a simple job to build Linux, Mac and Windows installers that end users can download.  (It feels like we've been trying to get the 2.4 release out the d

[2021-01-22 09:01] xzfantom commented on #512
So, here is my successful attempt to build win installer - [Action](https://github.com/xzfantom/brewtarget/actions/runs/503185895).  Only I had to remove part of installer with locating old database, but it doesn't affect clean install.

[2021-01-22 10:14] matty0ung commented on #512
Sounds promising.  Haven't done a deep-dive on your previous links, but am I right in understanding that the MXE shell script you mention would make it pretty easy to add other dependencies?  (The stuff I'm working on needs the Xerces and Xalan libraries to give us access to standard XML features that are not available in Qt.  Xerces and Xalan are mainstream multi-platform tools already "known" by

[2021-01-22 11:11] xzfantom commented on #512
No problems with [xerces](https://mxe.cc/#packages) it is in packages for MXE. Xalan would require some additional work, but I think not much.

[2021-01-22 13:22] matty0ung commented on #512
Cool.  Let's get input too from @mattiasmaahl and @mikfire.

[2021-01-22 13:29] mikfire commented on #512
Yes. Locate does try to solve the problem of finding a database when upgrading. I don't think it works very well, but Windows is very strange about how it presents the file system.

Personally, I would prefer to not use NSIS. It introduces a number of issues, and it hard to maintain. If we are going to replace it, the replacement has to work as well, has to not cause GPL problems and has to show a

[2021-01-22 16:59] mattiasmaahl commented on #512
Sorry for not responding sooner, I'm at home with ny newborn and the baby do poke for some attention! 😊
Regarding the QT installer I'm testing is only packaging the pre-built binaries, there is support for running all sorts of scripts and programs within the framework to build the program first and then generate the installer, I'm in tje process of figuring out how to build and generate the instal

[2021-01-26 14:20] matty0ung commented on #403
I do agree this is a bit of a hidden feature.  I only discovered its existence from working on the code.  Will have a think about where to put an additional more visible way to access it than the current right-click on a recipe.

[2021-01-26 17:48] matty0ung commented on #371
If this is fixed in 2.4, I think we should just close this ticket.
Please re-open the ticket if I've misunderstood.

[2021-01-26 17:48] #371 closed

[2021-01-26 17:55] matty0ung commented on #280
I'm hoping the https://github.com/Brewtarget/brewtarget/pull/515 patch, once reviewed by @mikfire, will address this and similar issues by making XML import a lot more robust.  If something isn't valid BeerXML, that patch means the software should tell you which line of the input file is the culprit instead of, say, just crashing  :smile:.  I tried to test the files for which this ticket was origi

[2021-01-26 18:02] matty0ung commented on #259
There is still some more work to do on this, but hopefully https://github.com/Brewtarget/brewtarget/pull/502 has made things a bit better.  (I have a high DPI display on my Linux laptop, but I hope the fixes that work there also benefit Mac users with highdpi...)
As mentioned above, just activating the "work with high DPI" switch is, unfortunately, an unsatisfactory solution.  (On Linux for instan

[2021-01-26 18:06] matty0ung commented on #158
Since, from the most recent comments, it looks like this is fixed, I'm closing.  Please re-open if I've misunderstood.

[2021-01-26 18:06] #158 closed

[2021-01-26 18:14] matty0ung commented on #125
@xzfantom FYI, I took the "2015_styles_ext.zip" file uploaded by @Wyrmwood, extracted "2015_styles_ext.xml" and, with one small edit, was able to import all 142 style records into Brewtarget patched with https://github.com/Brewtarget/brewtarget/pull/515. (The patch tells you how many records you imported, and will skip over duplicates if you try to import the same file twice by the way.)

The edit

[2021-01-27 18:14] matty0ung commented on #466
@tpiszcze I have just uploaded a patch for this which hopefully does more or less what you want.  (Sorry for the delay since my last post.  I did some work on XML that proved to be a deeper rabbit hole than I expected.)

[2021-01-27 18:19] matty0ung commented on #514
I couldn't get the "See double" link to show me anything.  Does this problem still occur with https://github.com/Brewtarget/brewtarget/pull/515?

[2021-01-27 20:45] matty0ung commented on #271
@Scimmia22 AIUI the issue at this point is that we have to reverse-engineer how do releases because not everything is documented and previous folks who did it have moved on.  @mikfire has been documenting some of the process at https://github.com/Brewtarget/brewtarget/wiki/Uploading-and-Releasing, @mattiasmaahl and @xzfantom have been making solid suggestions about Windows build and install (see h

[2021-01-27 20:51] matty0ung commented on #106
@pricelessbrewing I think https://github.com/Brewtarget/brewtarget/issues/327 was the idea @mikfire mentions above.

[2021-01-27 21:02] matty0ung commented on #327
I don't know what current status of this is, but I rather agree with @pricelessbrewing about branches - ie keeping to a simple principle that if you want one recipe to evolve into two new ones, then only one of those two ones retains the history, and the other just becomes a brand new recipe.   I would be inclined to present versioning to the user in somewhat the same way as versioning of wiki pag

[2021-01-27 21:29] matty0ung opened #518 "Creating a new recipe makes the program crash on start-up"
Steps to reproduce (obviously make sure you have a backup of your database first!):

- Start Brewtarget
- Right-click on the Recipes tree pane and select New > Recipe
- Type in a recipe name, eg 'Bork', and click OK
- Close Brewtarget
- Start Brewtarget again ... result = core dump

If you want your data back, edit the DB in another tool to remove the Recipe record you just added.  Brewtarget will

[2021-01-28 06:11] xzfantom commented on #504
I'll try to find time to play with it. Great work done! Now I'm building additional libs for win but don't have much time, so it can take a while.

[2021-01-29 08:52] matty0ung commented on #518
Hmm, actually, on investigating further, this seems to be a problem of initialisation order.  Somewhere in the sequence of things that happens inside the MainWindow constructor, we're ending up at `RecipeExtrasWidget::updateDate()`, which is calling `Brewtarget::mainWindow()` to get a pointer to the MainWindow object but getting back null because MainWindow constructor hasn't returned to `Brewtarg

[2021-01-30 18:24] matty0ung opened #520 "Put string constants for property names in namespaces and match names to values"
I have been thinking more about the global constants ktableFoo, kpropBar, and so on.  At the moment they are a bit double-edged.  The benefit is that, if you refer to, say, `kpropAmountKg` in the code, you can be sure you've not amount_kg the "amount_kg" property name it refers to (which would be an embarrassing run-time error).  The downside is that, if you're looking for all the places we refer

[2021-01-31 08:37] matty0ung commented on #520
From a quick count, we have about 450 definitions of ktableXxx kcolXxx and kpropXxx constants, and just under 1250 usages.  So the trick would be to script the change.  I'll put my bash/awk/sed/perl thinking hat on!

[2021-02-02 18:15] xzfantom opened #521 "QT5 minimal version"
In CMakeLists.txt QT5_MIN_VERSION is declared as 5.3. It's outdated value and current project can't build with QT older than 5.10.
Looks like we should update this value to more reasonable one.
And one more thing - in Ubuntu 18.04 LTS in packages QT5 is [5.9.5](https://packages.ubuntu.com/bionic/qt5-default). Do we need to support it?
@mikfire

[2021-02-03 10:06] matty0ung commented on #520
I got as far as writing a script that does most of the heavy lifting - including replacing string literals that aren't yet replaced by constants (eg in calls to `Brewtarget::mainWindow()->doOrRedoUpdate()`), but then I got to thinking about _where_ to define constants.

It feels to me like kpropXxxx constants belong in a different place from ktableXxxx and kcolXxxx.  The properties of an object ar

[2021-02-05 05:24] xzfantom opened #522 "App initialization at start"
While I was playing around with windows builds I found some things that in my opinion we can make a little different.
Most annoying problem with windows installer NSIS is that we use 2 outdated plugins there. They are only x32 and were not supported for years. They are used for finding old database from previous version and saving info about it, so during app start we get this db and do upgrade st

[2021-02-05 07:19] xzfantom commented on #9
If we decide to change minimal supported QT version as in issue #521 this problem can be closed, too.

[2021-02-05 07:33] matty0ung commented on #521
From the dates at https://en.wikipedia.org/wiki/Qt_version_history it seems like 5.12 would be a sensible minimum.
OTOH, if a lot of end users are likely to already have old versions of Qt installed, maybe we should just static link against a fixed version of Qt?

[2021-02-05 07:39] matty0ung commented on #522
AIUI there is already a bunch of stuff in the app about doing DB schema upgrades (in DatabaseSchemaHelper) so perhaps the logic belongs there?

[2021-02-05 08:26] xzfantom commented on #521
I think that as far as we don't use features of new QT releases we should use as low version as we can. For example in current Debian Buster QT is 5.11, so using 5.10 will allow this people to use BT with no additional effort. As for me, I'd prefer static linking only if using new QT version will bring us real benefits.
I'm not good in QT development, so I don't have reasonable opinion here.
Maybe

[2021-02-05 09:09] xzfantom commented on #522
It's mostly UI thing. AFAIK we have all code needed, just rearrange it a little bit. Installer asks to point to old db and saves this info in config, BT uses this info at startup and does all convertation stuff, etc. I just wont to throw out this part from installer script and make BT handle it itself. So installer just unpack and copy files in folder, no more logic there.
Now if PostgreSQL is use

[2021-02-05 18:18] matty0ung commented on #521
Yes, you're right we should make things as easy as possible for users.  And dynamic linking is generally preferable for lots of reasons.  I guess I was just thinking about static linking as a fall-back if we can't rely on a new enough version of Qt being installed.  Eg, AIUI, we need at least 5.11 for High-DPI Support, so I'd worry a bit about anything older than that.

As an aside, I can see a fe

[2021-02-07 07:44] xzfantom commented on #456
Why this issue was closed? I think the idea of CI/CD is very good and was working in same direction. And as far as I can see @cgspeck already made most of it.

[2021-02-07 08:13] matty0ung commented on #456
Looks like a typo - AFAICT intent was to close https://github.com/Brewtarget/brewtarget/issues/455 rather than https://github.com/Brewtarget/brewtarget/issues/456.  Reopening.

[2021-02-08 07:41] xzfantom commented on #489
@mattiasmaahl did you discover smth?
As far as I understand there is two ways to build packages for debian - with target package (uses CMake plugin CPack) and with external utility dpkg-buildpackage. They are independent and looks like result is pretty much the same. The only problem is that if we change smth, we should update two places - CMakeLists.txt for CPack and [debian-packaging](https://gi

[2021-02-08 08:00] matty0ung commented on #489
This might be heresy, but do we really need https://github.com/Brewtarget/debian-packaging?  If we can accomplish the same thing with CMake then it sounds simpler than having a tiny extra repository just for Debian packaging.

[2021-02-08 08:11] mattiasmaahl commented on #489
Good day folks!
Well, first off, @xzfantom, sorry I have not had the time to look into that to any extent I'm afraid. First there was Christmas and then I've had a new born at home, so sleep has been a rare commodity as of late!

As for the Debian-package Repo, There are settings and package information set in that repo specific to the .deb package that needs to be there when publishing the files.

[2021-02-08 08:26] matty0ung commented on #489
Thanks for quick reply @mattiasmaahl.  Hope all is going well with your new arrival!

It would be nice if we could get CMake to do everything necessary for Debian/Ubuntu so we can absorb debian-packaging back into brewtarget.  This would avoid having to maintain same/similar thing in two places as @xzfantom says.  But, of course, I don't know if this would turn out to be easier said than done. :sm

[2021-02-08 08:44] mattiasmaahl commented on #489
@matty0ung, Maintaining 1 is always easier than 2, but we have to take into account that there is also the RPM-build that has it's own set of package information that needs to be included in the package.
But as I see it there is a lot of overlapping of information, such as Changelog, maintainers list, source package and so on.
I do agree that we could have all in one repo, but I don't have all the

[2021-02-08 08:50] xzfantom commented on #489
@mattiasmaahl I do understand you very good) I just got some time for side projects and my son is 1 year and 9 months. Just was curious if you had discovered smth before.
Right now deb package with CPack throws a lot of errors when checked with lintian:

_~/brewtarget/build$ lintian --pedantic brewtarget_2.4.0_x86_64.deb_
[code]
May be it can be fixed some way, but no such problems with **dpkg-bui

[2021-02-08 08:54] mattiasmaahl commented on #489
@xzfantom did you run the lintian against develop or 2.4.0/stable branch? because develop is throwing a lot of error I know, but last I tried, the 2.4.0 branch it worked?

[2021-02-08 09:10] xzfantom commented on #489
It was branch created from #515
I created GitHub Action file to test autobuild. In autobuild I use debian-packaging [develop.yml](https://github.com/xzfantom/brewtarget/blob/feature-gha-pr515/.github/workflows/develop.yml). On my linuxbox - make package. It's all on same code base. Lintian gives no mistakes in **autobuild**, but gives errors on **make package** build. I'll check stable branch, too

[2021-02-08 09:38] xzfantom commented on #489
Nope, lintian don't like packages made with CPack, just checked on stable/2.4.0

[2021-02-08 11:36] mattiasmaahl commented on #489
ok, did you also try to make the project from the Debian-Package repo?

[2021-02-08 11:47] xzfantom commented on #489
If you mean stable/2.4.0, I didn't check it with autobild. I think it's Ok, because #515 is Ok with Debian-Package.

[2021-02-08 12:21] mattiasmaahl commented on #489
well, I need to investigate further into the workings of dpkg-buildpackage to take this discussion further.
But anyhow, I do believe we can make a sub-directory structure where the different requirements for the package builders are kept, that could work. i.e. packages/debian, packages/win and packages/rpm. that would include them in the same repo but at the same time keep them somewhat separate f

[2021-02-08 13:45] xzfantom commented on #489
It's not an easy question. Mostly question if architecture and different  decisions here have their pluses and minuses. In my opinion one repo is better - we can bring atomic changes in functional, add new dependencies and update manual with one PR and everything is good and consistent. Text files don't use much space and if create some clean directory structure it will keep project clean, too.

[2021-02-08 13:49] mattiasmaahl commented on #489
I absolutely agree with you @xzfantom.
@mikfire, would you kindly give your opinion on the matter, as you have been in this project the longest?

[2021-02-08 15:50] tpiszcze commented on #466
Works great.
Many thanks!

[2021-02-08 15:50] #466 closed

[2021-02-10 12:02] cgspeck commented on #456
I have opened a draft PR with my working build, see #523

What specific version of QT we should be using (I chose 5.14.2, it needs to be >= 5.10 for the test suite)?

Should we explicitly list Debian dependencies or rely on `CPACK_DEBIAN_PACKAGE_SHLIBDEPS`? (see [this patch](https://github.com/Brewtarget/brewtarget/pull/523/files#diff-1af3ff0c718f9f5b8b422a01a148a5761adb2f7dcb66a7e0d38114a1b98a9bf

[2021-02-10 12:44] xzfantom commented on #456
About minimal QT5 version we have issue #521 and there is no final decision yet.

I was working on the same question here [develop.yml](https://github.com/xzfantom/brewtarget/blob/feature-cpack-lintian-check/.github/workflows/develop.yml). And some my thoughts are here:

I used MSYS2 because it has it's package manager and library xalan-c, that can be useful if PR #515 get merged.

Also I don't li

[2021-02-10 14:34] xzfantom commented on #456
P.S. if it's CI\CD on base of Github Actions, we can get rid of Travis (.travis.yml) and change Build Status in README.markdown

[2021-02-10 18:27] xzfantom commented on #521
It's to hide some stuff deprecated in new QT versions if new feature is not introduced in old version. Should be no problem, most checks are with 5.15, some with 5.13.

[2021-02-10 18:31] matty0ung commented on #521
Ah, OK, cool.

[2021-02-14 09:55] matty0ung commented on #520
I played around with this some more, but it started looking rather ugly, so I've gone with something simpler.  For now I've focused just on the kprop globals.  The objectives were:
- Rename the property name constants so they match the names of the properties they refer to.  A property itself is just a name, so there's no inherent reason why we shouldn't use the same name for the corresponding con

[2021-02-14 09:58] matty0ung commented on #507
@mikfire I thought further about your point about static strings and have, I hope, a nice solution in https://github.com/Brewtarget/brewtarget/issues/520

[2021-02-14 17:41] matty0ung commented on #403
I've added a fairly visible button for this functionality - see https://github.com/Brewtarget/brewtarget/pull/525.
Happy to hear views about whether the button should be in a different place or have a little icon instead of text etc.

[2021-02-14 17:42] #518 closed

[2021-02-14 17:53] matty0ung opened #526 "Brewtarget doesn't stop you running multiple instances"
Feels like we should check at start-up whether another instance of the program is already running.  At the moment, on Linux, if you start a second instance then the first instance is locked out of the DB (assuming you're using the default settings and thus SQLite) which means it crashes (sometimes with an error message and sometimes without) when you try to, say, edit or create a recipe.

Unless w

[2021-02-15 09:30] #520 closed

[2021-02-15 12:12] #403 closed

[2021-02-16 08:44] matty0ung commented on #252
I am going to have a look at this.  At the moment "Tools > Water Chemistry" brings up an untitled dialogue box that is a bit hard to understand (and is not covered in the manual).  You can set base and target profiles, and add various salts (in a slightly painful way) but nothing quite seems to tell you what the effects of adding your salts are and whether they are helping you get from base to tar

[2021-02-16 08:51] matty0ung opened #528 "Enable GitHub Discussions?"
What do people think about enabling GitHub Discussions (https://docs.github.com/en/discussions/quickstart) for Brewtarget?  We already have GitHub for bug tracking / feature requests, so why not enable the discussion board too as a replacement for the Google Groups forum that nobody uses any more (https://groups.google.com/g/brewtarget-help).  It would also be a place for devs to discuss general i

[2021-02-16 09:38] xzfantom commented on #528
I think it's good idea. I have some ideas, but don't feel like open issue for them and discussions looks like good place for them.

[2021-02-16 14:56] mattiasmaahl commented on #528
I agree that it's a good idea,
I don't think that bouncing ideas and having a discussion regarding a suggestion belongs in the Issues-tab.

[2021-02-16 16:33] matty0ung commented on #528
Cool.  I think we need @mikfire to enable it so, if he agrees, maybe he can do it on his next visit.

[2021-02-16 16:34] #526 closed

[2021-02-17 12:42] xzfantom commented on #489
I did some investigation about making deb & rpm by "make package". It looks like it's possible to create ideal deb-package and maybe rpm-package, too. Only problem is that you have to include such files like changelog.Debian in both packages (as you can't choose what to install for one package and not to install for another).
Probably, it's ok to build packages for dev builds but use appropriate r

[2021-02-26 17:04] matty0ung opened #529 "Scottland -> Scotland"
There's a typo in the description for Edinburgh water: "Scottland" instead of "Scotland".  Next time we're generating a new version of `default_db.sqlite`, it would be nice to fix this.

[2021-03-02 09:33] cstarkers opened #531 "Changes to equipment profile not picked up by recipes"
I made a mistake in my equipment.  After trying to enter a recipe, I fixed and saved the equipment.  The change to equipment saved, but all of the recipe calculations (batch size, boil size, and mash wiz) refused to adopt the edited equipment numbers - it was invisibly applying the old numbers.

I found a hacky work around - change the equipment to a different set of equipment and then change it b

[2021-03-02 10:07] matty0ung commented on #531
This could be interesting from a UI perspective.  When you change the equipment on a recipe, you get a prompt asking you whether you want to update batch size etc on the recipe to match the new equipment.  If you edit the equipment that might be used by quite a few different recipes, then I guess we'd need to ask "Do you want to update all the following recipes that use this equipment".

The other

[2021-03-03 00:28] cstarkers commented on #531
Oh interesting.  I definitely see merit in keeping the recipe's equipment separate from the global equipments, because then you could make tweaks for individual brews without filling the equipment tree with minor variations.

If that is the intended behaviour then I think there are a few issues. I think the UI should somehow make it clear that when you pick an equipment in the Recipe tab, it is mo

[2021-03-03 11:10] cgspeck commented on #456
@xzfantom thank you for the feedback.

I attempted to use your action template for the Windows build but the installed app complained of missing the following libraries: `zlib1.dll, libicuin68.dll, libicuuc68.dll, libpcre2-16-0.dll,  zlib1.dll, libpng16-16.dll, libharfbuzz-0.dll`, so I reverted it and the artefact is installable and runnable in Windows.

I have also:

* linux: added umask
* linux:

[2021-03-13 10:03] xzfantom commented on #456
I found that MSYS2 project build qt5 with shared libs. They have qt5-static package, too, so I want to check if it'll work for our needs. The reason I used MSYS2 and not regular MinGW is that if PR #515 will be merged we need to obtain Xerces-C and Xalan-C libraries. For the second one building in MinGW is broken for now, but MSYS2 patched it. Only this PR is opened for 3 months and nobody knows i

[2021-03-30 11:47] tpiszcze opened #532 "Problem with amounts in inventory"
I found interesting feature in inventory management. I added new malt - it was the same type from different supplier. So I copied the existing to the new one. Entered new amount and it changed in old and new one (source and copy). It is the same with hops. Is it a bug or new feature?

[2021-03-30 12:01] matty0ung commented on #532
Interesting.  Reproduces for me and I think it's a bug.  When the malt gets copied, the inventory_id on the new copy is the same as the old one, so they effectively share an inventory record.

The trouble is that, sometimes, a copy of something is intended to be linked to the original one and sometimes it isn't.  When you add an ingredient to a recipe, under the hood, the software makes a copy of

[2021-03-30 12:34] mikfire commented on #532
The bug isn't necessarily in the code, it's in the design. Still my fault, but the code is doing exactly what I had intended and expected. I just hadn't considered this use-case.

I think we may be able to make a reasonable slice at this. If you use the real copy feature, get a new inventory ID. If you are dropping or otherwise adding the ingredient to a recipe, then don't. Let me see if that can

[2021-03-30 18:43] mikfire opened #533 "brewtarget crashed, now I am warned there are two instances running"
So the question is how do I clear the message? I will be incredibly disappointed if the answer is "reboot".

[2021-03-30 19:52] xzfantom commented on #533
#527 it was introduced in this PR. If you know it's not second instance, just press ignore.

[2021-03-31 06:15] matty0ung commented on #533
I know it's mildly annoying to have to press ignore on every subsequent run of the program after a crash (until reboot, when things will be reset) but hopefully most users most of the time will not see the program crash. :)

At the cost of some complexity, we could add logic so that you would only have to press ignore on the first run after the crash.  (I would think to use the byte of shared memo

[2021-03-31 08:57] xzfantom commented on #533
Looks like problem mostly for *nix systems as they don't delete shared memory on crash.
Here is workaround with attach/detach: https://stackoverflow.com/questions/42549904/qsharedmemory-is-not-getting-deleted-on-application-crash
May be will work

[2021-03-31 14:32] denniskauffman opened #534 "Calculated Pre-boil"
I used this program for many years when I was in my driveway with a turkey fryer. After moving I switched to automated brewing because of my new environment. Since Picobrew has gone out of business and I don't know how long their website will be active I would like to use this for recipe management. Maybe it's always been this way and I never noticed.

I created an equipment profile. The Pico hop

[2021-03-31 19:18] matty0ung commented on #533
The approach suggested by @xzfantom works on my Linux machine.  If this can remove frustrations for @mikfire, I would propose to retain the check (with these modifications) on the grounds that we don't know for certain that everything works sensibly when two instances are running (unless someone has recently one extensive testing on this?)

[2021-03-31 21:05] mikfire commented on #533
I am running tests on Linux and Windows, the two I have easy access to.

My testing so far consists of running two instances from different terminals -- mintty on Windows and an xterm-like on Linux. I pick a recipe and try to add a miscellaneous ingredient. I am working with a default database, and very few of them have misc. ingredients, so it is just a little faster that way.

In my five or so t

[2021-03-31 21:10] mikfire commented on #532
Sorry for the delay. Just after I commented it, my internet connection died. It's fixed now, and I think this is too.

[2021-04-02 00:32] dozer7308 opened #537 "Graphics on new install glitched"
New install of Brewtarget on Windows. Resulted in the style graphs being bunched. Ideas on how to fix? Installed on 2 other machines in the past with no issues.
![Screenshot 2021-04-02 083215](https://user-images.githubusercontent.com/81784454/113367201-fda43100-938d-11eb-9055-df474e2e8311.png)

[2021-04-02 04:03] cgspeck opened #538 "Windows build failing with error: 'M_PI' was not declared in this scope"
I noticed the Windows build failing with [the following](https://github.com/Brewtarget/brewtarget/runs/2251199271?check_suite_focus=true#step:8:149):

[code]

https://github.com/Brewtarget/brewtarget/pull/530 introduced the reference to [`M_PI`](https://github.com/Brewtarget/brewtarget/pull/530/commits/00a840ccf8a6ee760ded3eb72e129ba2e9c08091#diff-0705086554f2e8405975713842728f72d4d4d8421cfc572943

[2021-04-02 04:30] matty0ung commented on #537
My guess would be that this is because you have a high DPI display.  If so, then the problem is already largely fixed in the dev branch (see https://github.com/Brewtarget/brewtarget/pull/502).

[2021-04-02 04:37] matty0ung commented on #538
Ah, looks like we need an extra define on Windows.  (Until we're able to use C++20, there is no "standard" way to get the value of 𝜋 in C++.)  Most compilers add a non-standard constant M_PI into the cmath header, but it looks like Windows needs another define.  It's a one-line fix (plus comment).  I'll do a patch.

[2021-04-02 04:42] dozer7308 commented on #537
That was it - with thanks @matty0ung